[2016-04-20 19:03] nwolfe opened #1 "How does this compare to railwaycat/homebrew-emacsmacport?"
I came across this repository from the [Spacemacs#develop installation instructions](https://github.com/syl20bnr/spacemacs/tree/develop#os-x), which I noticed recently changed from recommending https://github.com/railwaycat/homebrew-emacsmacport to this.

What's the difference between this and that?

The Spacemacs instructions only mention that this provides a Spacemacs icon, yet emacs-mac has `--

[2016-04-21 05:16] d12frosted commented on #1
Emacs Mac Port is GNU Emacs plus some additions for OS X (mostly related to GUI, AFAIK). These additions are made on the Emacs source level. So it's not really GNU Emacs anymore. Also you are tided to Emacs Mac Port version.

Emacs Plus is just plain GNU Emacs with some additions on formulae level (at least for now). Currently it only gives you an option to install Emacs with Spacemacs icon. And y

[2016-04-21 17:27] nwolfe commented on #1
Ahhh, I see now! Thank you for the explanation. I remember seeing the first link/issue come through Spacemacs now that I think about it.
I've been experiencing the issues mentioned with emacsmacport, so I'm going to give emacs-plus a shot for some time!

[2016-04-21 18:56] d12frosted commented on #1
For now you are just giving a shot to GNU Emacs 😛

Good idea.

[2016-04-21 19:05] #1 closed

[2016-04-21 19:05] d12frosted commented on #1
@nwolfe if you wish to add anything to README - you're welcome to send pr 😄

[2016-04-23 20:42] cassianoleal opened #2 "Unable to get both cocoa and non-cocoa versions at the same time"
I'd like to have the option of either using the `Emacs.app` cocoa app or just open `emacs` regularly in the terminal. It looks like if I set the `--with-cocoa` flag I don't get the shell-based one.

[2016-04-24 05:53] d12frosted commented on #2
Shell-based one is not related to `--with-cocoa` flag. To run Emacs in terminal, you have to call `emacs -nw`, which actually means `emacs --no-window-system`.

[2016-04-25 19:59] cassianoleal commented on #2
Ah cool! Thanks for the clarification!

[2016-04-25 19:59] #2 closed

[2016-07-27 20:24] edrex opened #3 "404: tiff_4.0.6-1"
[code]

Debian is on patch -2, and removed the old patch. Assuming this is upstream, but reporting here to start.

[2016-07-27 21:06] edrex commented on #3
oops, i forgot to `brew update`

[2016-07-27 21:06] #3 closed

[2016-07-28 05:36] d12frosted commented on #3
@edrex Oh yeah, that's the common problem 😸 It's a rule of thumb - whenever you are installing something using brew and it throws `curl: (22)` - just do `brew update` and try again. 💃

Glad you figured it out!

[2016-08-02 12:39] napopa opened #4 "Install fails with "Error: No such file or directory - nextstep/Emacs.app/Contents/PkgInfo""
I'm trying to install emacs-plus using

`brew -v install emacs-plus --with-cocoa --with-gnutls --with-librsvg --with-imagemagick`

Th command fails with:

[code]

[2016-08-02 19:10] d12frosted commented on #4
Hey @napopa,

First of all, I like your avatar 😸 Secondly, I have never seen such error. Just tried reinstalling and everything went fine.

[2016-08-21 15:28] d12frosted commented on #4
@napopa Any luck with installing it?

[2016-09-20 08:02] d12frosted commented on #4
Closing this as no response was received. In case you still have this issue - let me know.

[2016-09-20 08:02] #4 closed

[2016-09-21 14:02] everson opened #5 "add option to add binaries to $PATH"
I am running into https://github.com/magit/magit/issues/2318

Also, when typing `emacsclient -V` , I see that it still points to /usr/bin/, which is at 22.1

Would be great to have an option to setup links for binaries under /usr/local/Cellar/emacs-plus/25.1/bin

[2016-09-21 14:27] d12frosted commented on #5
Ok, `brew` installs everything to `/usr/local/Cellar` with binary links to `/usr/local/bin`. When it fails to link something - it yells. Running `brew doctor` might help you to check for unlinked stuff. But before doing this - please, check your value of `$PATH`. It must contain `/usr/local/bin`. I believe that `brew` by default setups `$PATH` for bash users (during `brew` installation), but in ca

[2016-09-21 14:50] everson commented on #5
@d12frosted thanks. I had `/usr/local/bin`, only a link to emacs was there. That might have been the reason for the linking to have failed. I didn't notice any message about failure in linking, but `brew doctor` revealed: `You have unlinked kegs in your Cellar: emacs-plus`. Sorry, I should have run doctor before assuming this formula wouldn't setup these links.

Deleting `/usr/local/bin/emacs` and

[2016-09-21 14:50] #5 closed

[2016-09-21 14:58] d12frosted commented on #5
@everson,

Glad you figured it out 😸 Checking `$PATH` and calling `brew doctor` are usually two steps I do when something goes wrong. Also I forgot to mention that `/usr/local/bin` must come **before** `/usr/bin`.

Don't need to be sorry 😸 Have fun with Spacemacs (or stock Emacs) 😸

[2016-09-21 15:16] everson commented on #5
Trying to switch to Spacemacs from intellij / atom / vim.

[2016-10-04 21:18] tjstankus opened #6 "404 error downloading bottle file"
[code]

The build continued on and Emacs starts fine. Perhaps because of this error I just got the base GNU Emacs install without the "plus" features?

[2016-10-09 10:59] d12frosted commented on #6
It's OK to ignore 404 error. There are no `plus` features except for icon 😸 please refer to [readme](https://github.com/d12frosted/homebrew-emacs-plus#emacs-plus) file.

[2016-10-26 21:05] edrex commented on #6
AFAIK there's no fallback relationship with the homebrew/core emacs.

This tap doesn't have a bottle - the listed bottles are left over from the core formula - so you'll always get a source build.

Is that all correct?

It looks like the homebrew team is recommending installing an https://emacsformacosx.com/ build via `brew cask install emacs` going forward.

[2016-10-29 13:17] LukeXuan opened #9 "[Feature] Options to link emacsclient to app?"
As described, it would be grateful to link emacsclient to app, since the sartup of spacemacs cost some time and it would be better if started as daemon.

[2016-10-31 12:49] d12frosted commented on #9
Hey @LukeXuan ,

Do you want to have `emacsclient` under `Emacs.app/Contents/MacOS` directory? Could you please help me understand what benefits it brings? 😸

[2016-11-03 16:40] d12frosted commented on #9
@LukeXuan ping? 😸

[2016-11-05 12:13] LukeXuan commented on #9
Yet.

I'm sorry that I got some misunderstanding about the functionality of `emacsclient`, and I achieve my purpose with some other methods.

Originally I want `emacs` started as daemon when I started OS X, and open a new frame connecting to it when I open `Emacs.app`.

[2016-11-07 06:36] avendael opened #10 "Railwaycat emacs-mac support"
In my experience, [railwaycat emacs-mac](https://github.com/railwaycat/homebrew-emacsmacport) is the best emacs to use in a mac. It has smooth scrolling and touchpad gesture support among other things. It would be awesome if there's an option that would install the railwaycat version instead of the cocoa version.

[2016-11-10 13:28] d12frosted commented on #10
Good idea. I think it should be separate formulae named `emacs-mac[-port]-plus`, because I don't really want to merge two different formulas. What do you think?

[2016-11-10 16:14] dustinswan commented on #9
@LukeXuan Did you get this working with emacs-plus? I'm trying to do this as well.

[2016-11-14 08:14] LukeXuan commented on #9
@dustinswan After some research I figure out that the `emacsclient` just "wake up" the emacs process to bring a frame to the front. So there still exists some problem such as when I close this frame (command+w) the logo of emacs on the dash won't disappear.

I mainly borrow codes and ideas from this [gist](https://gist.github.com/ambethia/304964) and its forks. You may also find something helpful.

[2016-11-14 08:17] LukeXuan commented on #9
@d12frosted So I now suggest that one should tweak this emacs version so that the icon on the dash will disappear when there is no GUI (frame) in the front? That would be perfect and I didn't find any solution now. Also it should be possible since some app such as Alfred2 achieve this (remain running in the background, show the icons only when I open the preference).

[2016-11-14 16:27] dustinswan commented on #9
@d12frosted Thanks, creating an Apple Script app that runs /usr/local/bin/emacsclient actually works pretty well!

[2016-12-12 21:38] rudedogg opened #11 "Unable to load Emacs after upgrading imagemagick"
I'm not sure how useful this is, or if I just ran into an issue with my setup. But thought I'd share incase it's helpful or a bug. I ran `brew upgrade` this morning, which upgraded imagemagick from `6.9.6-7` -> `6.9.6-8`. After that emacs failed to launch with the following crash report:
[code]

Re-installing/building from source fixed things:
* `brew uninstall emacs-plus`
* `brew install emacs-pl

[2016-12-13 03:33] halfcrazy commented on #11
+1
`brew reinstall emacs-plus` fixed.

[2016-12-13 05:51] d12frosted commented on #11
@rudedogg and @halfcrazy
Thanks for the info. Probably I should add a note to readme file regarding this issue.

@rudedogg `brew linkapps emacs-plus` is optional 😸

[2016-12-14 07:32] SteveJobzniak commented on #10
@d12frosted I have switched to emacs-mac. Much more responsive. Less crashes. Nicer GUI.

It's literally GNU Emacs + patches on top. So it is as-up-to-date as the official repo.

It has SVG built-in via WebKit.

All you need to do is enable all these features (yes all of them, some packages require texinfo and xm2):

[code]

I also suggest updating the osx layer for Spacemacs to disable smooth scr

[2016-12-14 07:38] SteveJobzniak commented on #10
Oh and that fork also AWESOMELY bug-fixes sRGB rendering of XMP bitmaps, which means that Powerline no longer looks like trash.

My config now looks like this:
[code]

;-)

[2016-12-14 07:39] SteveJobzniak commented on #10
There is no reason to ever use the old emacs/emacs-plus. They are garbage compared to railwaycat. He's had a reputation for years as the best port, and it's true.

[2016-12-14 08:14] d12frosted commented on #10
@SteveJobzniak I am glad for you. Thanks for sharing your thoughts about GNU Emacs vs `emacs-mac-port`.

Many people (including me) switched to GNU Emacs from `emacs-mac-port` just because the latter was so very laggy and low-peformance that it was just unusable. I should check how it runs nowadays.

That's great. And the fix was there for a long time. For me powerline separator is even not an iss

[2016-12-14 08:24] SteveJobzniak commented on #10
@d12frosted The performance of emacs/emacs-plus had lots of random freezes and those are totally gone with emacs-mac. Others have said the same. Railwaycat's changelogs make it seem like he has implemented better polling.

And just disable the silly pixel-by-pixel scrolling (which IS slow as hell and chopy). After that is disabled, I notice only improvements compared to vanilla.

[2016-12-14 08:30] d12frosted commented on #10
I don't know anyone except for you saying this. But welp, we are word-comparing different versions of software. And just in case you didn't see it - https://github.com/syl20bnr/spacemacs/issues/4955.

Only after I check it myself I can say anything about latest `emacs-mac-port`.

[2016-12-14 08:51] SteveJobzniak commented on #10
http://emacs.stackexchange.com/a/3952/14218

Just one of many comments I found like that. Reddit was also full of comments like that when I did research.

And yeah try it out. Either way, I am running it now and will never go back. So far I haven't had a single freeze or crash anymore.

[2016-12-14 13:42] SteveJobzniak commented on #10
Well, I just had a 5 hour session without any hangs, slowdowns or crashes. That's in comparison to the emacs/emacs-plus vanilla version which crashed constantly. On the exact same dotspacemacs file and same develop branch of Spacemacs.

[2016-12-14 15:25] d12frosted commented on #10
Well. I am using it for 5 minutes and already run into some lags / slowdowns. I know that it's not the best way to navigate, but sometimes I hold `C-n` or `C-p` to go down / up over the lines. And almost every time I do it `emacs-mac-port` starts to freeze and cursor disappears for a second or so. 😞

But lets see how it goes with other tasks 😸

[2016-12-14 18:19] SteveJobzniak commented on #10
@d12frosted I opened my init.el (~900 lines) and helt down C-n and then C-p for about 2 minutes, not even a single missing cursor or freeze. Could it be a hardware issue on your machine? A bug that only affects yours?

[2016-12-15 09:02] SteveJobzniak commented on #10
@d12frosted
Maybe try this:

[code]

See if that improves your `C-n` and `C-p` situation.

I run with it off. Perhaps that's it.

[2016-12-15 09:13] d12frosted commented on #10
It's the same with `mac-mouse-wheel-smooth-scroll` set to `nil` and set to `t`.

[2016-12-15 18:15] SteveJobzniak commented on #10
@d12frosted Hmm okay. That's weird.

I've now spent all day coding in emacs-mac. Not a single crash or slowdown yet. Even the small "stutters" I used to get when using the space-menu are gone.

With emacs (the vanilla one via your emacs-plus formula) I had about one total hang every 1-2 hours with the GUI using 100% CPU and not being rescuable with Ctrl-g.

That really shows how different experien

[2016-12-15 18:27] ninrod commented on #10
@SteveJobzniak I build emacs from source (git HEAD) and I never experience a hang. it's my main editor for everything except java.

[2017-01-01 23:00] agzam opened #12 "Can't install due to some makeinfo problems"
Sorry for dumping entire log of the command, I thought verbose log would be helpful.
note the lines:
[code]
I've tried `brew install texinfo` and then `brew ln texinfo --force` and now `makeinfo --version` shows `texi2any (GNU texinfo) 6.3`, but installing emacs-plus still fails

@d12frosted Can you give me and insight of what's missing on my machine (OS X El Capitan)? Until recently everything wo

[2017-01-02 00:44] agzam commented on #12
interestingly cloning source manually and building it works.

[2017-01-03 07:08] d12frosted commented on #9
Hey @LukeXuan. So what is needed to be done from `emacs-plus` side?

[2017-01-03 07:10] d12frosted commented on #12
Ok, I cant reproduce it. Gonna check what's wrong with it.

[2017-01-03 07:13] agzam commented on #12
yeah, they seem to have changed something and now I can't build. Tried removing Xcode and xcode dev tools, reinstalling, etc. Still doesn't build ;(

[2017-01-03 07:18] d12frosted commented on #12
It fails even with `emacs` formula. So that might be something wrong with `emacs` that needs to be update (so I can cherry-pick that fix) or something wrong with `brew`.

[2017-01-03 07:21] agzam commented on #12
so here's the thing, I've tried cloning git://git.savannah.gnu.org/emacs.git  and building manually from master - it works. Whadda hell is brew doing - no clue.

[2017-01-03 07:41] LukeXuan commented on #9
@d12frosted I'm not familiar with native cocoa development. But some search suggests that `TransformProcessType` helps. However this should be implemented in emacs but not this package:( I thinks there's nothing to be done now.

[2017-01-03 08:25] agzam commented on #12
I have opened the ticket there https://github.com/Homebrew/homebrew-core/issues/8430

[2017-01-03 08:49] d12frosted commented on #12
@agzam thanks!

[2017-01-03 08:50] d12frosted commented on #9
Ok, let me know if something is needed from me 😸 Closing this issue for now.

[2017-01-03 08:50] #9 closed

[2017-01-03 15:36] agzam commented on #12
Cool, they've fixed it!

[2017-01-03 15:36] #12 closed

[2017-01-03 15:56] agzam commented on #12
Oh, wait... I still can't build emacs-plus :(

[2017-01-03 16:31] d12frosted commented on #12
Yes, I need to update my formula. Should be fixed by https://github.com/d12frosted/homebrew-emacs-plus/commit/ad8a99dbbfd7694bc8bf34c7f2ad41fa5d29f633.

[2017-01-12 01:32] fuxialexander commented on #10
@d12frosted @SteveJobzniak I've tried both emacs vanilla and emacs-mac. The problem of emacs-mac for me is: when you use the native fullscreen on mac and you want to switch using touchpad between different fullscreen apps, say, emacs-mac and safari, there is a significant lag. Vanilla Emacs do not have that problem.

[2017-01-12 08:51] bassu commented on #10
@SteveJobzniak You're right. The default smooth scrolling in @railwaycat's `emacs-mac` port is really choppy. I am not sure why others find it pleasing. Your tweaks returned back the sanity without having me go through gazillion lines of scroll documentation. 👍

[2017-01-12 10:12] SteveJobzniak commented on #10
@ninrod I have now used railwaycat's Emacs for a month and have zero hangs. I haven't tried regular Emacs HEAD, maybe that would also have solved the hangs I was having.

@fuxialexander Yes railwaycat uses native fullscreen which has an entry/exit animation and disables all input (Apple does) while it animates. But I never use fullscreen.

@bassu Yeah it blows my mind why anyone likes the choppy d

[2017-01-14 10:35] kszucs opened #13 "Borderless feature"
I've applied the patch in the borderlass branch:
[code]

 but there is no `ns-use-titled-windows` variable in Emacs.

Could You give me some hints to achieve borderless frame?

I've found another patch which conflicts with emacs' source http://stackoverflow.com/questions/24021624/in-gnu-emacs-osx-how-to-hide-title-bar .

[2017-01-15 11:16] d12frosted commented on #13
I have created that branch to share the work on this feature, but I couldn't make it working, that's why it's still not in `master` branch. The patch I have applied is taken from [this thread][1].

Wow, thanks for the link. I'll try it. But in case you wish to bring this patch faster, I highly advice you to test it on your own and send me a PR. This would be very nice and helpful as I am not going

[2017-01-15 11:20] #11 closed

[2017-01-15 11:21] d12frosted commented on #11
I am very late to the party, but anyways. Thanks for the hint guys!

[2017-01-15 11:44] d12frosted commented on #10
Ok, I have played with `emacs-mac-port` for a while and still think that it doesn't fit my needs. Mostly because it solves issues that I personally don't care about while adding some strange input lags and freezes, adding some strange issues with server (it's not reliable anymore) and forces me to change how I launch emacs (not a simple `emacs` in the terminal anymore). This is not objective, I kn

[2017-01-15 11:44] #10 closed

[2017-01-16 17:34] braham-snyder commented on #13
I've pull requested a branch using the patch I modified (I wrote that StackOverflow post). Want to test it @kszucs?

Note that it doesn't currently work on HEAD (if I recall correctly, one hunk failed, and one was fuzzed--I didn't look further into it).

[2017-01-16 18:02] kszucs commented on #13
Great! I'm testing now.

[2017-01-16 18:22] kszucs commented on #13
`(setq ns-use-title-bar nil)` right? It doesn't seem to work with --devel

[code]

[2017-01-16 18:29] kszucs commented on #13
Same results with the bottle version. I can set the variable, but no effects. I've placed the setq nil in my .spacemacs and tried with M-x set-variable to nil too.

[2017-01-16 18:33] kszucs commented on #13
Doesn't it require 26.1? https://gitlab.com/brds/GNU-Emacs-OS-X-no-title-bar/raw/master/GNU-Emacs-25.1-OS-X-no-title-bar.patch

I'm on Sierra 10.12.2

[2017-01-16 19:38] braham-snyder commented on #13
Sorry, I wouldn't expect it to be compatible with --devel either; I'll throw an error there too.

I'm on El Capitan, and can't test on Sierra--I suppose it's possible it won't work on Sierra (but I have no idea).

Even after setting `ns-use-title-bar` to nil, creating a second frame creates a frame retaining the title bar? If `(setq ns-use-title-bar nil)` is in your `user-config`, it won't set the

[2017-01-17 00:28] braham-snyder commented on #13
Hmmm... for it to work on the first frame, it looks like `ns-use-title-bar` needs to be set in `user-init` now, maybe? Originally, I had it default in the source to `nil` (i.e., do not use the title bar), but after changing the default to `t` for this pull request, my custom setting was being a little iffy.

Placing `(setq ns-use-title-bar nil)` into `user-init`, however, is still working for me.

[2017-01-17 07:31] kszucs commented on #13
Second frame works, first frame does not. I've placed under user-init.

[2017-01-17 07:32] d12frosted commented on #13
In order to properly reinstall brew package you have to uninstall it and then install it again.

[code]

Using `brew reinstall` might not work if you switch between `HEAD`, `devel` or `release` versions. If you follow the logs after doing

[code]

You'll notice that `brew` installs `HEAD` version anyways during reinstall.

P. S. I might be wrong.

[2017-01-17 07:32] d12frosted commented on #13
@kszucs

I think it should be top-level expression in your `.spacemacs` file.

[2017-01-17 12:08] d12frosted commented on #13
I set the value of `ns-use-title-bar` to `nil` at the very beginning of `init.el` and it doesn't work with the first frame. But the next created frame doesn't have title bar so that nice. I wonder why the first frame has it.

[2017-01-18 03:28] braham-snyder commented on #13
Looks like it was only working for me on the first frame since I exclusively start the daemon and then connect using client frames (i.e., I essentially only use `emacsclient -n -c -a ""`)--if I just run `emacs` the first frame retains its title bar for me as well.

Though it's not ideal, I could just change the default value of `ns-use-title-bar` to `nil`. I don't plan on attempting a fix any more

[2017-01-21 07:38] aatxe opened #15 "Re-enabling multicolor font support in Emacs 25.1"
As you may or may not be aware, in Emacs 25.1, the FSF made the decision to remove multicolor font support from the macOS version of Emacs because it is not currently supported by GNU/Linux. I just recently discovered this through [this blogpost](http://www.lunaryorn.com/posts/bye-bye-emojis-emacs-hates-macos.html) and now understand why my wasted hours of trying to get multicolor fonts working we

[2017-01-21 10:48] d12frosted commented on #15
Thank you for brining up this topic! I am aware of that change, but I didn't thought about bringing this feature back to `emacs-plus`. And thanks for the patch! Would be nice to have PR from you 😸 But if you don't want to mess with your local settings, you can leave this to me.

[2017-01-22 06:03] #15 closed

[2017-01-22 06:22] d12frosted commented on #13
Thanks for the patch. It's in master, so you can use it 😸 Would be really nice to make it working with head and devel version of Emacs.

[2017-01-22 06:29] braham-snyder commented on #13
Yeah, looks like the first `emacs` (not `emacsclient`) frame per session will always use `ns-use-title-bar`'s default value, so I've just flipped the default to omit the title bar.

In more detail: I've just pushed an update to https://github.com/d12frosted/homebrew-emacs-plus/pull/14 that:
- defaults `ns-use-title-bar` to `nil`, forcing every first, non-client frame per session to omit the title

[2017-02-03 14:51] brabalan opened #17 "Is it possible to enable xwidgets?"
As your version lets one choose many new configuration options, I was wondering if it could be used to build an xwidgets-enabled emacs.

[2017-02-03 14:55] d12frosted commented on #17
I thought about adding support for this. Thanks to Sylvain `emacs-plus` allows user to build with `X` support. So it should be not hard to build with `xwidgets-enabled` support. PRs are welcome 😸

[2017-02-24 16:27] wadkar commented on #6
/subscribe

Also see my comment [here](https://github.com/syl20bnr/spacemacs/issues/7928#issuecomment-282335014).

[2017-03-10 07:20] krksgbr commented on #13
Hi!

Trying to install borderless with ` brew install emacs-plus --with-no-title-bars` yields the following error during make:
[code]

Any idea what might be the issue here? I ran `brew upgrade` before a retry but that didn't help anything. I am on OSX El Capitan 10.11.6 (15G1217).

[2017-03-22 20:09] jaschwar opened #19 "Install throws error "Error: undefined method `rebuild' for #<BottleSpecification:0x007f8f7d9e2c80>""
After running
brew tap d12frosted/emacs-plus
[code]
And fails on
brew install emacs-plus
[code]

[2017-03-23 21:18] d12frosted commented on #19
Hey,

That's totally strange. Have you tried dong `brew update` before installing?

[2017-03-23 21:20] d12frosted commented on #13
No sorry, I have no clue.

Did you figure out what was the problem?

[2017-03-24 13:18] jaschwar commented on #19
Ha spent 15 min getting brew update, but once I resolved that, install worked.

For those curious this were good threads for get brew update to work :
https://github.com/Homebrew/brew/issues/1511
https://github.com/Homebrew/brew/issues/476

Thanks for the help @d12frosted

[2017-03-24 13:25] d12frosted commented on #19
Oh well! Glad you figured it out! 😸

Usually I run `brew doctor` when something fails. Sometimes it helps me to figure out what's wrong with my setup.

👍

I am closing this issue. In case you have other questions/problems, just let me know.

[2017-03-24 13:25] #19 closed

[2017-03-24 16:28] halfcrazy opened #20 "Install stuck on make"
brew install emacs-plus stuck on make.
[code]

and `ps aux|grep 31263` the process is bootstrap-emacs

[2017-03-24 19:19] d12frosted commented on #20
Hey,

Could you please try `brew uninstall --force emacs-plus` and then `brew install emacs-plus [any-options-you-need]`?

[2017-03-25 01:48] halfcrazy commented on #20
Not work. Seem like still stuck on make.
[code]

[2017-03-25 06:41] d12frosted commented on #20
What options do you use?

[2017-03-25 06:45] halfcrazy commented on #20
Did not specify any options, i think it  use the default option.

[2017-03-25 21:39] Chream commented on #20
My homebrew install was also hanging. --HEAD as only option. Try deleting the homebrew cache: ~/Library/Caches/Homebrew/emacs-plus******

[2017-03-27 14:44] d12frosted commented on #6
Fixed for Sierra. Ideally it should be automated, but at least now you can use bottled version if you use the same operating system as me 😸 In case someone wants to provide bottles for previous versions of macOS, I will be glad to help you with bottle building. Just write me a note.

[code]

[2017-03-27 14:44] #6 closed

[2017-03-29 15:28] halfcrazy commented on #20
Change hostname without contain @ or uppercase works.

ref http://emacs.1067599.n8.nabble.com/files-locked-by-myself-on-mac-td74211.html

[2017-03-29 15:28] #20 closed

[2017-03-29 16:03] d12frosted commented on #20
Just wow. Thanks for posting it back here.

[2017-03-29 19:24] tokamach opened #24 "Not building with imagemagick"
as the title says, emacs-plus doesn't seem to have imagemagick compiled in. I thought it might be a path issue but after inspecting the ./configure logs when building it says something along the lines of `checking for imagemagick....     no`, so this is a compilation issue.

I built the home-brew standard formula with `brew install emacs --with-cocoa --with-gnutls --with-librsvg --with-imagemagick

[2017-03-29 19:42] d12frosted commented on #24
I have pushed a possible fix (thanks to upstream). Gonna test it and if everything works, I'll update the bottle.

[2017-03-29 19:48] tokamach commented on #24
`(image-type-available-p 'imagemagick)` returns `t` for me now, so this seems to have worked.

Thanks so much for the quick response!

[2017-03-29 19:50] d12frosted commented on #24
Oh. That's great that it works for you 😸 I can't test it right now due to some issues with brew :/ Will update the tap once it gets fixed.

[2017-03-31 10:59] d12frosted commented on #24
Ok, works for me as well. Thanks for the report!

[2017-03-31 10:59] #24 closed

[2017-04-05 09:12] krksgbr commented on #13
not exactly... but i upgraded to Sierra and it works now. :)

[2017-04-08 00:26] DogLooksGood opened #26 "Install failed without any error."
I try to install with
`brew install emacs-plus --HEAD --with-natural-title-bar`

[code]

Looks very strange, installation stop here without error message.

OS: MacOS Sierra 10.12.3
XCode: 8.3.1

Any other information should I provide?

[2017-04-08 18:56] avendael commented on #26
It works without `--HEAD`.

[2017-04-09 10:00] DogLooksGood commented on #26
Yes，It works without `--HEAD`. Thanks!

[2017-04-09 10:00] #26 closed

[2017-04-09 15:53] jwintz commented on #26
Strange. How about the title bar patch ? Does it work as expected ?

[2017-04-11 04:49] DogLooksGood commented on #26
@jwintz remove `--HEAD`, everything works.

[2017-04-11 08:24] d12frosted commented on #26
Hm, I don't see any breakable changes in HEAD and I can't reproduce this behaviour.

[2017-04-11 17:48] jojojames opened #28 "Enabling Flycheck throws error"
This is repeatable across different computers with the same config.

[code]
M-x flycheck-mode

An error dialog will show up.

'Emacs quit unexpectedly.

Click Reopen to open the application again. Click Report to see more detailed information and send a report to Apple'

[2017-04-11 17:52] d12frosted commented on #28
Hey,

Thank your for your report. Could you please share the options you used during installation (especially if you used `--HEAD`) and stack trace from that dialog.

[2017-04-12 02:35] jojojames commented on #28
brew install d12frosted/emacs-plus/emacs-plus --without-spacemacs-icon

http://ix.io/qmA

^Paste was too long.

[2017-04-13 11:28] d12frosted commented on #28
Ok, that's strange.

Could you please remove regular `emacs` using `brew uninstall emacs`? I see some conflicts.

Also, could you please share the stack trace from crash dialog?

[2017-04-14 02:58] jojojames commented on #28
I tried removing all the emacs related conflicts. Here's the build log again (still throws an error dialog).

[code]

Also, there isn't a stacktrace, it just pops up an OSX dialog saying something crashed but Emacs still works.

[2017-04-19 12:36] idoo commented on #13
in sierra 10.12.4 (16E195) it works well

[2017-04-19 21:40] Xanyism opened #29 "Trying to install with natural bars patch"
I am trying install emacs-plus after being redirected from the spacemacs guide to installing the prerequisites on OSX. https://github.com/syl20bnr/spacemacs#macos

`brew install emacs-plus --HEAD --with-natural-title-bar`

Lands me this output: https://pastebin.com/09MRsynS

I am rather new to managing packages with brew and also relatively new to configuring emacs, so I can't really tell where it

[2017-04-20 06:13] idoo commented on #29
it works well for me

[2017-04-20 06:18] idoo opened #30 "Adding white title bar option for ns build"
Hello, that patch https://github.com/d12frosted/homebrew-emacs-plus/pull/21 is awesome, but it would be nice to have back compatibility with light schemes (it has white text title when window is active, and it's not really readably)

Do you have any ideas how to fix it?

<img width="901" alt="screen shot 2017-04-20 at 09 16 43" src="https://cloud.githubusercontent.com/assets/738921/25216208/3740be

[2017-04-20 07:14] twlz0ne opened #31 "Fail to install without cocoa"
$ brew install emacs-plus --HEAD --without-cocoa

[code]

verbose: [https://pastebin.com/raw/pX51M4MK](https://pastebin.com/raw/pX51M4MK)

After `brew install giflib`:

[code]

verbose: [https://pastebin.com/raw/URGnprxg](https://pastebin.com/raw/URGnprxg)

[2017-04-20 07:19] jwintz commented on #30
Yeah, @d12frosted reporter this, I'll dig up on that one.

[2017-04-20 07:24] jwintz commented on #29
Since https://github.com/d12frosted/homebrew-emacs-plus/pull/27, `v-fork` has been merged into emacs, so I reinstalled it with both `--HEAD` and `--with-natural-title-bar` and it also works for me.

I do not think its comes from the patch. I have you simply tried:

[code]

Just to be sure ?

[2017-04-20 10:29] d12frosted commented on #29
Hey @Xanyism

Unfortunately, I can't reproduce this issue. Could you please run `brew doctor` to see if there is something funky with your setup. Also, try to `brew install emacs-plus --HEAD` as @jwintz suggested or `brew install -s emacs-plus` (to avoid bottle).

BTW, does it work when you `brew install emacs --HEAD`?

[2017-04-20 10:31] d12frosted commented on #28
@jojojames sorry, but I have no idea what's wrong. Is your `flycheck` up to date?

[2017-04-20 10:36] d12frosted commented on #30
@jwintz would be nice to have a solution for this 😸

[2017-04-20 10:38] d12frosted commented on #31
@twlz0ne thanks for the report! I'll take a look at it.

[2017-04-20 10:44] d12frosted commented on #31
Ok, I have similar issue.

[code]

But as you can see, it also asks me to update Xcode. Wow. I can't afford it right now. I'll try again on weekends.

Anyways, I need to add `giflib` to dependencies. Thanks for bringing it up.

But this error reminds me of https://github.com/d12frosted/homebrew-emacs-plus/issues/26.

[2017-04-20 10:52] d12frosted commented on #29
Can reproduce it. Will look into it.

[2017-04-20 11:13] d12frosted commented on #29
Ok, it fails when I `brew install emacs --HEAD` as well. Could anyone please try to install Emacs from sources out of brew, please?

[2017-04-20 11:39] jwintz commented on #29
Just done so. Used github's mirror (https://github.com/emacs-mirror/emacs) since savannah seemed down. Last commit is 9 hours ago so I guess the mirror is up to date.

It builds fine.

![screen shot 2017-04-20 at 13 35 14](https://cloud.githubusercontent.com/assets/3277054/25228882/580e71c8-25ce-11e7-8686-d6c99c19a916.png)

I'll take the opportunity to work on https://github.com/d12frosted/homebre

[2017-04-20 12:41] d12frosted commented on #29
@jwintz thanks a lot! I've fired an issue in brew repo for `emacs` formula. Maybe they'll help to find the problem.

Will be great 😸 🙇

[2017-04-20 12:44] jwintz commented on #30
Ok, I have looked a bit, here's what I came up with:

[code]

* `titlebarAppearsTransparent` is the feature
* `NSAppearanceNameVibrantLight` is the default, gives a dark title label colour
* `NSAppearanceNameVibrantDark` is the default, gives a light title label colour
* `NSWindowTitleHidden` does not display the title label at.

I would go for the latest option to update my patch, since the appli

[2017-04-20 12:44] idoo commented on #29
@jwintz can you share your emacs config please? :)

[2017-04-20 12:48] idoo commented on #30
I think that `current buffer's name` sometimes can be useful. Can you show examples how it will works?

[2017-04-20 12:48] jwintz commented on #29
There you go: https://github.com/jwintz/prolusion.

Clone it as .prolusion.d in your HOME folder, and symlink .emacs.d to it.

Feel free to fork, you may not be interested in all layers.

Also, do not use the installer, it only fits my needs ;-)

[2017-04-20 12:51] jwintz commented on #30
You mean an example with no title bar label and a light theme ?

PS: Current buffer is easily visible by looking at modelines :-)

[2017-04-20 13:16] jwintz commented on #30
Ok, `spacemacs-light` theme, and no title label.

![screen shot 2017-04-20 at 15 16 06](https://cloud.githubusercontent.com/assets/3277054/25232628/5d0de77c-25dc-11e7-915d-77f3955ad4a1.png)

[2017-04-20 13:37] d12frosted commented on #30
@jwintz ah, so the colours are 'hardcoded'. Personally, I don't look at the buffer name in the title bar. So I don't care about it. But some people might care about it.

I wonder if it's possible to expose variable in emacs that will control the appearance name. That would be ideal, so people could control it however they want. Even those who use dark/light theme switch based on a sunrise/dawn.

[2017-04-20 13:47] jwintz commented on #30
Still reading Cocoa's documentation to find a better solution.

Clearly I'm not in favour of exposing the title bar's label to emacs config, unless this is honoured by a maximum of theme maintainers, which is most likely not gonna happen.

I have two options:

* inferring the background color of the theme, inverse it and set the label's color up (should there be an API for it)
* implement a subcla

[2017-04-20 15:32] d12frosted commented on #31
Could you please run `brew doctor` and fix as many as possible issues and try again afterwards? Also try updating Xcode. I've heard it fails for some people with outdated Xcode.

[2017-04-20 15:34] d12frosted commented on #29
@Xanyism
Could you please run `brew doctor` and fix as many as possible issues and try again afterwards? Also try updating Xcode. I've heard it fails for some people with outdated Xcode.

[2017-04-20 17:48] Xanyism commented on #29
Sorry for the delay, will do `brew doctor` and Xcode. For what it's worth, it I was able to install with `brew install emacs-plus --with-natural-title-bar` and trying to run `brew install emacs-plus --HEAD` yielded errors as well.

https://pastebin.com/qX8gESa9

[2017-04-20 17:50] d12frosted commented on #29
Ok, please try installing it using `HOMEBREW_MAKE_JOBS=1 brew install emacs-plus --HEAD --with-natural-title-bar`. It will take very long (on my computer it took 14 minutes). But works 😸

[2017-04-20 17:54] jwintz commented on #29
As for `--with-natural-title-bar`, I checked, it still works with `--HEAD`, as `nsterm.m` has not been changed.

[2017-04-20 17:59] jwintz commented on #29
@Xanyism, could you post the `brew doctor` output ?

[2017-04-20 18:03] Xanyism commented on #29
Here it is, https://pastebin.com/UjCUxX0j

[2017-04-20 18:08] jwintz commented on #29
Ok, this basically means you have installed Tcl/Tk with /usr/local as a prefix, and that your python does not come from brew, all that is no big deal when it comes to installing emacs.

[2017-04-20 18:09] d12frosted commented on #29
@jwintz what is your version of xcode?

[2017-04-20 18:11] jwintz commented on #29
![screen shot 2017-04-20 at 20 10 56](https://cloud.githubusercontent.com/assets/3277054/25245669/8450f832-2605-11e7-9b72-efb795eb059c.png)

[2017-04-20 18:15] jwintz commented on #29
Also, make sure `xcode-select` is setup correctly.

<img width="1484" alt="screen shot 2017-04-20 at 20 14 57" src="https://cloud.githubusercontent.com/assets/3277054/25245831/1828f3fc-2606-11e7-9982-6bff4a1c1b43.png">

[2017-04-24 09:29] srustamo opened #32 "Terminating app due to uncaught exception 'NSInvalidArgumentException'"
Installing with `brew install emacs-plus --HEAD`.

Installation goes without any errors.

Trying to start crashes.

Homebrew 1.1.13-108-gceb1629ad7
Homebrew/homebrew-core (git revision 00cfb; last commit 2017-04-24)
OS X 10.9.5

[2017-04-24 09:51] d12frosted commented on #32
Hey @srustamo,

It might be an upstream issue (you're building from `HEAD`). Either try later or report it to the upstream. For me it even doesn't build right now. 😢

Anyway, please share your `brew config`.

[2017-04-24 10:37] srustamo commented on #32
Thanks.

HOMEBREW_VERSION: 1.1.13-108-gceb1629ad7
ORIGIN: https://github.com/Homebrew/brew.git
HEAD: ceb1629ad7aeec4c9e9c264efb29b59a96f8556c
Last commit: 87 minutes ago
Core tap ORIGIN: https://github.com/Homebrew/homebrew-core
Core tap HEAD: 00cfb61f3ff41be132a57296cdcbdaa6eae73e0b
Core tap last commit: 70 minutes ago
HOMEBREW_PREFIX: /usr/local
HOMEBREW_REPOSITORY: /usr/local/Homebrew
HOMEBREW_

[2017-04-24 11:14] jwintz commented on #32
As of https://debbugs.gnu.org/cgi/bugreport.cgi?bug=22060, I just reinstalled emacs with "--HEAD", on two different machines, and everything goes fine.

FYI: Using Sierra and Xcode 8.3.1.

[2017-04-24 11:23] d12frosted commented on #32
@srustamo wow, Xcode version is `6.2` and macOS is `10.9.5-x86_64`. Should not be reason for failures though.

@jwintz good to hear. Mine is still failing though. 😿

[2017-04-24 11:38] jwintz commented on #28
@jojojames, Could you run `M-x package-list-packages`, then <kbd>U</kbd> to mark upgrades, then <kbd>X</kbd> to execute, just to check if flycheck gets updated ?

[2017-04-25 09:14] licorna opened #33 "Unable to copy/paste from/to OSX clipboard"
I'm used to copy/paste using OSX clipboard from/to Emacsforosx, but it seems I can't do it with emacs-plus. Is this an non implemented feature?

[2017-04-25 09:17] licorna commented on #33
I know what the error is now: I was running `/usr/local/bin/emacs` from within tmux, and it cripples the pbcopy & pbpaste commands.

[2017-04-25 09:17] #33 closed

[2017-04-25 11:03] d12frosted commented on #29
Hey @Xanyism, any luck on installing with `--HEAD`?

[2017-04-25 11:06] d12frosted commented on #31
Hey @twlz0ne,

Could you please try installing using following command?

[code]

[2017-04-25 15:55] JonaMX commented on #29
I'm getting the following error while trying to install:
[code]
Here's the output of my `brew doctor`:
[code]

[2017-04-25 17:08] d12frosted commented on #29
Hey Jonatan,

Did you try HOMEBREW_MAKE_JOBS=1 brew install emacs-plus --HEAD
--with-natural-title-bar?

On Tue, Apr 25, 2017 at 6:55 PM Jonatan Juárez <notifications@github.com>
wrote:

--
Cheers,
Boris

[2017-04-25 17:56] jasonjckn opened #34 "upgrade to 25.2"

[2017-04-25 18:58] d12frosted commented on #34
@jasonjckn thanks for the kick! 😸

Updated to new version in 167d0ee
Updated bottle for sierra in cd43320

Would be nice to have bottle for El Capitan. Maybe @wadkar would help 😸

[2017-04-25 20:10] jasonjckn commented on #34
thanks! 💯

[2017-04-25 20:45] d12frosted commented on #34
funny thing, I've build a bottle, but forgot to upload it to s3 😸 not it's there, so use it 😸

[2017-04-26 01:59] twlz0ne commented on #31
Sorry to reply so late

- I checked `brew doctor`, there is no X11 related infomation.
- I'm using el capitan, the latest Xcode i can install is 8.2.1.

<pre>
⋊> HOMEBREW_MAKE_JOBS=1 brew install emacs-plus --HEAD <b>--without-cocoa</b>
==> Installing emacs-plus from d12frosted/emacs-plus
==> Installing dependencies for d12frosted/emacs-plus/emacs-plus: harfbuzz
==> Installing d12frosted/emacs-plu

[2017-04-26 02:25] jojojames commented on #28
My flycheck is up to date.

I'll just close for now since it seems like I'm the only one seeing this. I just built Emacs off the master branch instead.

Thanks!

[2017-04-26 02:25] #28 closed

[2017-04-26 03:32] wadkar commented on #34
Bottle [here](https://cmu.box.com/s/fg9yjbd5yirbxmzrqhdqrdkdwkjjf42z). The sha256 is `0cad5513de68ec93b4f522fd6a065ee163bc880a5e8091794fb8b3da3dc635e5`

The pleasure is all mine. Thanks for the update!

[2017-04-26 08:48] srustamo commented on #32
Latest commit fixes the issue.

[2017-04-26 08:48] #32 closed

[2017-04-26 09:21] d12frosted commented on #32
Great to hear, @srustamo ! And thanks for reporting it back here. ❤️ 😸

[2017-04-26 09:26] d12frosted commented on #34
Many thanks, @wadkar.

I've uploaded it and added to the formulae itself. Should be available to all El Capitan users. 😸

[2017-04-26 09:26] #34 closed

[2017-04-26 09:27] d12frosted commented on #31
Ok, still failing. I'll try to reproduce it again. Will let you know if I find anything.

[2017-04-26 12:46] srustamo commented on #1
I'm seeing a slight difference in font rendering compared to `emacs-mac`. Screenshot shows. Fonts are in `emacs-plus` rendered wider, all things being equal. Any idea why?
![scr](https://cloud.githubusercontent.com/assets/749813/25435072/422cf45e-2aa8-11e7-803f-6f02e689a1b4.jpg)

[2017-04-26 12:59] srustamo commented on #1
The screenshot on the left is `emac-mac`.
Both use `(set-face-attribute 'default nil  :family "Hack")` in `init.el`

[2017-04-26 23:01] wadkar commented on #34
Umm, I got HTTP404 when I tried to reinstall it from the bottle. Says,
[code]
Can you please check again?

[2017-04-27 05:05] d12frosted commented on #34
@wadkar please, `brew update` and try again 😸

[2017-04-27 05:41] wadkar commented on #34
yep, its working now.

[2017-05-02 08:40] TheBaronHimself commented on #13
Could someone post a screenshot of what this should look like? I think it doesn't work for me on Sierra, but maybe there's something I misunderstand.

[2017-05-02 19:23] braham-snyder commented on #13
@TheBaronHimself I've got a screenshot in my repo for the patch: https://github.com/braham-snyder/GNU-Emacs-OS-X-no-title-bar

[2017-05-02 19:33] TheBaronHimself commented on #13
Huh, okay. I just did another reinstall after trying it earlier today and it works now. How odd. Never mind my earlier comment.

This may be an unrelated question, but how does one remove the border on the right side and bottom of the Spacemacs window? I can't seem to get it to fit properly. I don't have that issue with other applications.
![screen shot 2017-05-02 at 21 30 42](https://cloud.github

[2017-05-02 22:38] braham-snyder commented on #13
With `kwm`, the borderless patch is definitely giving me a smaller window given the same window-management "container", but my Emacs frames are still centered correctly within their containers, despite their edges not quite aligning flush with other application windows--that annoyed me a lot initially, but I'd mostly forgotten about it till now. I happen to use a desktop background color very simi

[2017-05-03 11:08] TheBaronHimself commented on #13
Yeah, it's not a huge issue. I was just curious :). Thanks.

[2017-05-04 00:30] TheBaronHimself commented on #13
@braham-snyder: (setq frame-resize-pixelwise t) solves this issue.

[2017-05-06 08:56] kszucs commented on #13
The sha sum of the patch got misaligned. Also doesn't work with the current default 25.2

[2017-05-12 20:44] philc commented on #13
@braham-snyder is it an easy update to fix the SHA sum misalignment?
[code]

[2017-05-12 23:37] braham-snyder commented on #13
@philc @kszucs thanks for the heads-up--if you want a quick-fix before this is merged, you can just enter `brew edit emacs-plus` to automatically open the relevant file: https://github.com/d12frosted/homebrew-emacs-plus/pull/38

[2017-05-13 06:46] philc commented on #13
Awesome, thank you for the quick fix!

[2017-05-14 23:41] paultopia commented on #11
Just ran into this issue myself.  `brew upgrade emacs-plus` from 24.x to 25.x version does not fix the problem, incidentally. `brew remove emacs-plus` and `brew uninstall --force imagemagick` then reinstalling emacs seems to work.

[2017-05-19 16:53] nejcvivod opened #39 "[macOS] Emacs freezes if file contains unicode emojis"
When opening a file containing unicode emojis, emacs will consume 100% of CPU and become unresponsive; so far it never seems to come out of this loop and has to be killed. I've tried opening the file with emacs running in `-q` mode, but I encountered the same problem.

This happens with 2 versions (that I have available), one is `25.2`, the other is `HEAD-b372e56` (`--with-natural-title-bar` enabl

[2017-05-22 10:49] d12frosted commented on #39
Hey,

That's really strange. I just tried with different unicode emojis and everything works fine. I am using 25.2. I wonder of the problem persists in official emacs formula (`brew install emacs`) or in [Emacs for macOS](https://emacsformacosx.com).

[2017-05-22 11:33] nejcvivod commented on #39
Tried installing plain emacs like you suggested and it also crashes, closing the issue :)

Thank you for pointing me in the right direction

[2017-05-22 11:33] #39 closed

[2017-05-22 13:49] d12frosted commented on #39
Well, doesn't look like I have helped much, but let me know if you find the root of this problem! 😸

[2017-06-03 09:24] tasmo commented on #33
Shouldn't it be possible to use emacs-plus from inside a tmux session with a proper copy/paste?

[2017-06-06 18:38] heyarne opened #41 "Migration to `brew cask`"
Is a migration to casks planned? Brew linkapps seems to be deprecated and superceded by `brew cask`.

[2017-06-23 17:28] eginez opened #42 "install conflicts with gnupg from pass"
brew install emacs-plus                                                                                                                        [NORMAL]
==> Installing emacs-plus from d12frosted/emacs-plus
==> Installing dependencies for d12frosted/emacs-plus/emacs-plus: libtasn1, p11-kit, gnutls, freetype, fontconfig, pixman, glib, cairo, jpeg, libtiff, gobject-introspection, shared-mime-info, gdk

[2017-06-27 13:36] d12frosted commented on #42
Hey, sorry for the late reply.

Could you please run `brew update` before installing? Also, does it fail when you try to install `gnutls`?

[2017-06-27 13:40] d12frosted commented on #41
Hey @heyarne

Sorry for the late reply.

Since they are going to deprecate `linkapps`, I will provide cask version as well in a near future. And don't worry, I'll continue to maintain regular formula as well.

[2017-07-16 21:08] ilovezfs opened #43 "new bottles needed"
The imagemagick@6 upgrade we shipped today has broken your bottles, so the formula will need a revision bump and new bottles.

[2017-07-17 02:08] halfcrazy commented on #43
try `brew reinstall emacs-plus `

[2017-07-17 04:44] ilovezfs commented on #43
@halfcrazy I'm not personally asking for support. (Also, it would need to be `brew reinstall --build-from-source emacs-plus`)

[2017-07-17 06:25] d12frosted commented on #43
@ilovezfs thanks for the notice!

I have updated the bottle for Sierra.

@wadkar, could you please create bottle for El Capitan?

[2017-07-17 06:26] ilovezfs commented on #43
@d12frosted no problem!

[2017-07-19 06:01] #43 closed

[2017-07-19 19:26] wadkar commented on #43
Uploaded [here](https://cmu.box.com/s/w6wt2xp8iiqzy4gv2z8g9t1bzfv79l9f) with sha256 `3f42bd2b2a2e3ebbe8a984b202c127d514b6d112d85e06f33eaa040a42f3251f  emacs-plus-25.2.el_capitan.bottle.2.tar.gz`

[2017-07-20 06:56] d12frosted commented on #43
@wadkar many thanks!

[2017-07-24 20:13] Blaisorblade opened #44 "Broken by upgrade to imagemagick@6 till manual reinstall"
Symptoms: after doing a Spacemacs upgrade, clicking on the Spacemacs icon stopped working.

Thankfully, I soon ran `emacs` from commandline and figured out what actually happened. I just upgraded homebrew, that upgraded `Imagemagick@6`, and that broke the existing bottle for emacs-plus—required file `libMagickWand-6.Q16.4.dylib` was removed, now they offer `libMagickWand-6.Q16.5.dylib` or `libMagi

[2017-07-25 20:07] d12frosted commented on #44
Yeah, I understand your pain. Sorry about that. Thankfully ilovezfs [has notified](https://github.com/d12frosted/homebrew-emacs-plus/issues/43) me that latest update to imagemagick has broken existing builds.

Though it's strange, I was expecting people to automatically 'upgrade' to a new bottle. I will investigate it a little bit in order to avoid such situations in future.

[2017-07-25 20:11] d12frosted commented on #42
Closing this issue for inactivity. Let me know if you need any assistance.

[2017-07-25 20:11] #42 closed

[2017-07-25 20:12] d12frosted commented on #29
Closing this issue for inactivity. Let me know if you need any assistance! 😸

[2017-07-25 20:12] #29 closed

[2017-07-25 20:13] d12frosted commented on #31
@twlz0ne

Oh sorry, I have totally forgot about this issue. Any luck with this issue?

[2017-07-26 05:51] twlz0ne commented on #31
Still no luck 😩

[2017-07-27 00:07] esambo commented on #44
I have done `brew update` and `brew upgrade`, and `brew outdated` is empty and `brew doctor` doesn't report anything. I'm on `macOS Sierra 10.12.6`.

`brew uninstall emacs-plus` and `brew install emacs-plus` fixed it for me too, but this shouldn't have been necessary!

I assume you have to update the [version](https://github.com/d12frosted/homebrew-emacs-plus/blame/master/Formula/emacs-plus.rb#L4-

[2017-07-27 00:46] Blaisorblade commented on #44
More precisely, my guess is that you need a *revision* (here, `revision 1`), like https://github.com/Homebrew/homebrew-core/blob/61767eba4806deaf882545e00c5ef1bf631976bf/Formula/gawk.rb#L7. The emacs version stays the same, but the package changed. The result will have "version" `25.2_1` which is greater than `25.2`, triggering the update.

Documentation on https://github.com/Homebrew/brew/blob/ma

[2017-07-27 00:50] Blaisorblade commented on #44
PR added, just to describe my conjecture more specifically.

[2017-07-27 00:51] Blaisorblade commented on #44
@d12frosted Actually, #43 already said "so the formula will need a revision bump and new bottles."

[2017-07-27 00:53] Blaisorblade commented on #43
@ilovezfs Bottles were rebuilt without a revision bump. IIUC
https://github.com/d12frosted/homebrew-emacs-plus/pull/45/files is the desired fix, right? (And probably requires new bottles).

[2017-07-27 04:17] ilovezfs commented on #43
@Blaisorblade Yeah, it should have had a revision bump _before_ rebuilding the bottles.

[2017-07-27 05:11] d12frosted commented on #44
Sorry folks. I just thought that 'rebuild' number bumping will take care of this stuff. Next time I'll update revision as well.

And thanks for the explanations!

[2017-07-27 05:12] #44 closed

[2017-07-27 05:25] d12frosted commented on #43
@Blaisorblade thank you for troubleshooting my mistake. I didn't know about 'revision' thing and thought that build number takes care of such things, though it's clearly documented. My bad.

[2017-07-27 05:43] Blaisorblade commented on #43
No problem—I only figured after observing the problem!

[2017-07-28 13:07] wadkar commented on #43
lmk when to rebuild
On Thu, Jul 27, 2017 at 01:43 Paolo G. Giarrusso <notifications@github.com>
wrote:

[2017-07-28 13:08] d12frosted commented on #43
@wadkar i have already pushed everything, so please do a rebuild 😸

[2017-07-28 17:11] henrymazza opened #46 "Command + Tilde does nothing (if deadkeys kb)"
When using multiple frames (MacOS windows) **⌘ + tilde** won't do what it is supposed to, which is changing to the next OS window (emacs frame in this case). It could be programmatically done, but I wasn't able to map this keystroke to the proper function, apparently it gets swallowed by before it can hit any lisp code. There's no message stating that the said command wasn't defined!

PS: It works

[2017-07-28 17:14] wadkar commented on #43
@d12frosted [here](https://cmu.box.com/s/ghxxh0iynavhrt43usccxaaprv569y1t) you go:
[code]

[2017-07-28 17:18] d12frosted commented on #46
Hey @henrymazza,

Are you talking about `Move focus to next window` command that is bound to ⌘` (notice, it's not tilde, but backtick). Using it works for me.

1. Start GUI Emacs.
2. Hit `C-x 5 2` to open new frame.
3. Hit ⌘` to switch to previous frame.
4. Hit ⌘` to switch back to new frame.

Could you please tell me how exactly you installed `emacs-plus`? E. g. which options you have passed when

[2017-07-28 17:30] henrymazza commented on #46
I’m sorry, you are right. Although ⌘ + ~ (⌘ + shift + backtick) also doesn’t work, which reminds me why I get confused these things names: I don’t speak English! For this reason my keyboard is configured as “U.S. International - PC”, that is, with dead keys. When I change it to “U.S.” only it works.

So, I’ll change it to: when configured with “dead keys” it doesn’t work, even though on every othe

[2017-07-29 08:43] d12frosted commented on #46
@henrymazza That's interesting. I am using ABC - Extended and never used U.S. International, which has that 'deadkey', so I never experienced anything like this. Also, my ⌘ is `meta` key in my setup, and to switch frames I use `ace-window` package (it can be used across frames). And I have bound ⌘` to `ace-window`, so it's like macOS key binding that allows to switch between windows and frames in

[2017-07-29 09:57] d12frosted commented on #43
Many thanks!

[2017-07-30 21:55] nejcvivod commented on #39
Just in case someone comes across this - nice people on the emacs bug mailing list have found the issue, seems to be a missing font problem; after I installed Symbola, emacs no longer freezes

[2017-07-31 10:09] d12frosted commented on #39
@nejcvivod thank you for letting us know 😸 ❤️

P. S. would be nice to have a link to that thread on mailing list.

[2017-07-31 14:15] henrymazza commented on #46
Great! If I find something related I write back! Thank you for your help!

[2017-07-31 14:15] #46 closed

[2017-08-08 18:18] JohnGraber opened #48 "macOS 10.12.6 upgrade seems to break emacs-plus"
After upgrading macOS, my Spacemacs install refused to start.

I've tried upgrading emacs-plus, removing and reinstalling, all with the same result — I can't start emacs.

I uninstalled emacs-plus and installed plain ol' emacs via homebrew.  That will start normally.

Here is the output I get from attempting to start with emacs-plus:

[code]

Please let me know if there is anything further I can a

[2017-08-08 18:32] ilovezfs opened #49 "new bottles needed: JPEG 9"
The jpeg upgrade we shipped yesterday has broken your bottles, so the formula will need a revision bump and new bottles.

[2017-08-09 04:40] taiansu commented on #48
It's because the libjpeg has upgraded to 9b, so there is no `libjpeg.8.dylib` in the place anymore. The ultimate solution is let emacs-plus links to `/usr/local/lib/libjpeg.dylib`, which will solve the library upgrade issue in the future, presumably.

[2017-08-09 09:59] ilovezfs commented on #48
FWIW, this is not a good idea, and not even really possible on macOS. The version number of a library changes for good reasons, and not on every minor upgrade, so when it does, the dependents should always be rebuilt.

[2017-08-09 18:32] d12frosted commented on #49
@wadkar I summon you 😸

I've bumped revision number and **then** built new bottles. Should be ok 😸

@ilovezfs thank you so much for pinging me! ❤️

[2017-08-10 03:27] taiansu commented on #48
@ilovezfs Thanks for the correction, you're right.

[2017-08-10 08:13] d12frosted commented on #48
This should be fixed with latest update. Thanks for reporting!

[2017-08-10 16:14] wadkar commented on #49
[Here](https://cmu.box.com/s/co9hxxkmjz0k6s5sq3jvamerics2gpa2) you go:
[code]
Note that the link expires at the end of Aug'17.
And thank you all for the continuous updates and fixes! The only job I do is build bottles and I haven't come across any issues (yet) :-)

[2017-08-10 17:15] d12frosted commented on #49
@wadkar thank you very much! 💯

[2017-08-10 17:15] #49 closed

[2017-08-10 17:16] #48 closed

[2017-09-07 00:41] CarlQLange commented on #30
Just dropping in to say that some elements of this patch may no longer be necessary with `--HEAD` since this commit: https://github.com/emacs-mirror/emacs/commit/7baa50eca28ff21497b058fa22656bbb4a447d87#diff-f43249227e5879c3fc3d7c08b1c41b1c

[2017-09-07 01:29] CarlQLange commented on #30
just dropping in again to confirm that I didn't need this patch when installing from HEAD, I just set `ns-transparent-titlebar`.

Changing `ns-appearance` between `dark` and `nil` seems to change the window title font colour from white to black, so that's cool and potentially useful here.

[2017-09-07 07:50] jwintz commented on #30
Awesome.

[2017-09-15 06:42] d12frosted commented on #30
@CarlQLange that's totally great to hear! thanks for the headsup!

[2017-09-15 07:15] CarlQLange commented on #30
👍 No problem! Something that confused me is that these are frame-specific, so you need to add them to `'default-frame-alist` or something like it.

Here's my working config:

[code]

[2017-09-21 08:48] avatar-lavventura commented on #11
I am facing with this: what should I do? thank you.
[code]

[2017-09-21 09:00] d12frosted commented on #11
@avatar-lavventura please try to tap `d12frosted/emacs-plus` before calling `reinstall`.

[code]

[2017-09-21 13:01] ashishwadekar opened #52 "Heavy download on upgrade"
Hi,
I was trying to upgrade emacs plus with this command :
`brew upgrade emacs-plus`

Dependencies were installed and then git was stuck in updating of cache:
[code]

git has downloaded almost **666** mb of data and there were no signs stopping.
![screen shot 2017-09-21 at 6 26 19 pm](https://user-images.githubusercontent.com/13130213/30696937-f6bd6004-9efa-11e7-927c-fa378f9a1f42.png)

I don't kno

[2017-09-26 08:44] d12frosted commented on #52
Hey @ashishwadekar,

Sorry for the late reply. I think the size is expected, though it's big. I have just cloned original repo (`git clone git@github.com:emacs-mirror/emacs.git emacs-sources`) and the size is 1.2 GB.

[2017-09-26 08:49] ashishwadekar commented on #52
Hi, @d12frosted

Not an issue at all. Thanks for the information. Will try the upgrade procedure once again 😊

On a side note, I feel 1.2 GB of repo for an upgrade is too big for most of the users. Something can change. I don't know how though 😏

Cheers,
Ashish

[2017-09-26 08:50] d12frosted commented on #52
Well, it's in the cache. And next time you update, it will not download that much. But yeah, homebrew cache grows :D

[2017-09-26 08:51] ashishwadekar commented on #52
Ohh I see 😇

[2017-09-30 09:53] #52 closed

[2017-09-30 09:53] d12frosted commented on #52
Seems that there is little I can do about size of repository, closing issue for now.

[2017-10-16 10:47] jonathanj opened #53 "Emoji don't render"
I was under the impression that the multicolor font patch should enable emoji rendering, but my emoji mostly just render as blank.

[code]

During the build process there is a message about the multicolor patch being interrupted but claims to have successfully applied it by using a fuzzy match, I'm not sure if this is relevant at all.

I'm using the Operator Mono typeface but I tried Source Code P

[2017-11-03 14:52] CestDiego commented on #13
@braham-snyder I have the same problem with the borderless feature. However I'm using HEAD and adding (undecorated . t)  to the frame properties instead (which is the suggested way I think) I created an issue on chunkwm (similar to kvm) https://github.com/koekeishiya/chunkwm/issues/265

I tried the pixel wise ration that @TheBaronHimself suggested and that solves the transparent titlebar spacing I

[2017-11-08 11:54] jwintz commented on #30
After a clean reinstall of my home-brew environment, I second @CarlQLane, the `with-natural-title-bar` option is no longer needed. I suggest to remove it from the formula.

[2017-11-08 12:23] d12frosted commented on #30
@jwintz thanks for checking this out
Pull request is welcome 😸

[2017-11-25 17:47] sphw opened #55 "Title bar text color broken"
I am having an issue with the transparent title bar.

I am using Spacemacs, and the config for the title bar can be seen at the top of this screenshot. I have seen screenshots where it doesn't look like this. Is there a way to fix it?

![screen shot 2017-11-25 at 9 45 51 am](https://user-images.githubusercontent.com/83453/33233089-a915a66a-d1c5-11e7-9d8c-15ec5e32351b.png)

[2017-11-27 06:13] agzam opened #56 "support --devel block"
Would be nice to have. Or it's too much hassle to keep it up to date?

[2017-11-28 04:45] threeve commented on #53
@jonathanj it may work if you explicitly tell emacs to use the "Apple Color Emoji" font for emoji symbols, such as with this line in your init.el:

[code]

[2017-11-29 14:36] d12frosted commented on #56
Hey @agzam

I remember it was there some time ago, but for some reason I just dropped it.

Though I understand the need of having this switch. I'll consider adding it. Though not sure where :)

[2017-12-08 12:59] Pitometsu commented on #17
@d12frosted could it use native ns cocoa webkit support (like here https://github.com/veshboo/emacs)?

[2017-12-13 20:25] jonathanj commented on #53
Worked perfectly, thank you @threeve.

[2017-12-13 20:25] #53 closed

[2017-12-18 13:53] Pitometsu opened #59 "Debug support?"
@d12frosted,

Can't find any functions from https://github.com/emacs-mirror/emacs/blob/master/lisp/emacs-lisp/debug.el

[2017-12-19 12:10] d12frosted commented on #59
Hey,

It would be really helpful to know how exactly you installed emacs-plus (have you passed any additional options or not).

But it seems that that module is available starting from Emacs 26, which is not installed by default. Please checkout your emacs version.

[2017-12-19 12:15] d12frosted commented on #56
@agzam sorry for taking it so long

I've added `--devel` option. Could you please try it?

[2017-12-19 12:19] Pitometsu commented on #59
Yeah. you right, looks like them available from 26 version, and I have stable one (25.3). Sorry for disturb.

[2017-12-19 12:19] #59 closed

[2017-12-19 12:20] d12frosted commented on #59
No problem.

Try using `--HEAD` or `--devel` option to install emacs-plus.

[2017-12-19 18:54] agzam commented on #56
@d12frosted Nah, it doesn't work for me ;(

    [I] 10:53:17 ~/.emacs.d [develop ?]$ brew install emacs-plus --devel
    ==> Installing emacs-plus from d12frosted/emacs-plus
    ==> Downloading https://alpha.gnu.org/gnu/emacs/pretest/emacs-26.0.90.tar.xz
    Already downloaded: /Users/ag.ibragimov/Library/Caches/Homebrew/emacs-plus-26.0.90.tar.xz
    ==> Downloading https://gist.githubusercontent.

[2017-12-19 20:22] d12frosted commented on #56
My bad. Should be fixed by now.

[2017-12-19 20:28] d12frosted commented on #56
Sorry, it's a bad evening for me. Broke it totally. Let me fix it.

[2017-12-19 20:30] d12frosted commented on #56
Ah. Brew doesn't work nicely with force push. In case of any problems during `brew update` - untap and tap `d12frosted/emacs-plus`.

[2017-12-19 20:52] agzam commented on #56
@d12frosted nice, it worked but not `--with-pixel-scrolling`. To be honest I don't know, I don't think I've seen difference of having it with that.

[2017-12-19 22:16] chrchr opened #60 "<f20> keypress registers as C-p"
Hi! I map a key on my keyboard to `<f20>` using Karabiner-Elements, for use in Emacs. In emacs-plus, pressing `<f20>` moves the point up one line. Sure enough, `C-h k <f20>` reveals says that the keypress was `C-p`, bound to `(previous-line)`. In emacs-mac, `<f20>` works correctly.

Thank you!

[2017-12-21 14:30] peterdimou opened #61 "Odd error messages about stashed changes on brew update & upgrade commands"
I run `brew update` and `brew upgrade` regularly. I noticed yesterday that these commands started giving me strange errors related to this repo. Here is the message I'm getting:

[code]

Not sure if it's related to the commits made recently, or if this is a homebrew error that should be reported to their repo. If that's the case just let me know and I'll post the issue over there. Thanks!

[2017-12-21 14:32] d12frosted commented on #61
Thanks for the report!

It's due to the fact that I've added a screenshot to LFS. I'll try to fix it ASAP.

[2017-12-21 14:35] d12frosted commented on #61
Could you please try again?

[2017-12-21 14:37] peterdimou commented on #61
[code]

Everything looks good to me! Thank you for fixing the issue and the quick turnaround time!

[2017-12-21 14:39] d12frosted commented on #61
Great! Glad that it works now. Sorry for the breakage. Forgot that LFS is not bundled with macOS.

[2017-12-21 14:39] #61 closed

[2017-12-25 15:26] #56 closed

[2017-12-25 15:27] d12frosted commented on #60
Sorry, I don't know what's wrong here. And I don't think I'll ever dig into this issue. Though if you (or anyone else) submits PR, I'll consider merging it.

[2017-12-25 15:27] d12frosted commented on #55
Hey,

Did you find a solution?

[2017-12-31 21:41] kaz-yos commented on #55
I'm having the same problem with the latest --HEAD. I also noticed the font becomes more visible when the frame is in the background (behind Safari, etc). Is there an option to determine the font color in the frame title?

[2018-01-19 18:30] res0nat0r opened #63 "Compilation fails on fresh High Sierra install"
Hi,

I'm trying to install on a fresh High Sierra install and am running into compilation errors:

[code]

I am able to manually `./configure && make install` the `emacs-plus-25.3.tar.xz` tar without any issues. I'm not sure if this is some quirk with the High Sierra install? My XCode tools should be properly setup and working, I'm unsure what exactly the issue might be. Please let me know if you

[2018-01-23 15:37] casouri opened #65 "homebrew has deprecated some syntax"
It gives me these warning when I try to install emacs.
[code]
[code]

[2018-01-23 18:08] d12frosted commented on #65
Hey @casouri, thanks for the report.

First warning should be already fixed. Will fix the second one.

[2018-01-23 18:09] #65 closed

[2018-01-23 18:09] d12frosted commented on #63
Does it work if you manually `./configure` with the same options?

[2018-01-23 18:18] d12frosted commented on #65
Ok, I don't get where are getting the warning about `python` from. Are you sure it was from `emacs-plus`? There is no direct dependency on `python`.

[2018-01-23 18:21] casouri commented on #65
My bad! Even though I updated homebrew it's still trying to update other taps and print errors. It's not emacs-plus.😅

[2018-01-23 18:27] d12frosted commented on #65
No problem 😸 Anyway, thanks for reaching me out regarding these warnings :)

[2018-01-23 18:30] casouri opened #66 "Possible typo in formulae"
I know I just reported a false issue, but I think this is a real one.

In
[code]
```(setq 'default-frame-alist '((ns-transparent-titlebar . t) (ns-appearance . 'nil)))```
should be
```(setq default-frame-alist '((ns-transparent-titlebar . t) (ns-appearance . 'nil)))```
right?
The expression with quote gives me error and expression without it works fine.

And putting quote in front of variable does

[2018-01-23 18:37] d12frosted commented on #66
Yes, you're right. PR is welcome :)

[2018-01-23 18:39] casouri commented on #66
Will do in a minute.

[2018-01-23 18:40] casouri commented on #66
Actually more than a minute. But will do.

[2018-01-23 18:40] #66 closed

[2018-01-30 05:28] CupricWolf opened #69 "Launching from the Emacs.app doesn't set $EMACS environment variable."
The Prezto configuration manager for zsh has a feature that can automatically start tmux when a new shell is created. Before it does this though it checks to see if the shell was created in a tmux window or by an editor. It does this through the $EMACS, $VIM, or $TMUX variables. If any of those are set Prezto won't try to use tmux.

When I launch emacs-plus from a shell it sets the $EMACS variable

[2018-01-31 11:49] d12frosted commented on #69
Hey @CupricWolf,

It seems that your issue is out of scope for this project. AFAIK, Emacs doesn't set `$EMACS` variable, and I bet that in your case it's being set by some Elisp program.

You should report it to the Spacemacs issue tracker. Or `exec-path-from-shell`. As it's a problem of configuration.

A quick search didn't help to find any useful advice.

P. S. Closing this issue as it's not rel

[2018-01-31 11:49] #69 closed

[2018-01-31 21:11] MNicole1 commented on #69
Ok. Thanks for the feedback

[2018-02-05 09:02] nskalis opened #70 "issue compiling with --HEAD --with-natural-title-bars"
Hi,

I love spacemacs but I did a clean install of macOS High Sierra and performed the following steps:

[code]

And I got the following error:

[code]

Could you please advise how to resolve this issue ?

PS. the very first time I did it **without** ` --HEAD --with-natural-title-bars` and worked.

[2018-02-05 09:50] d12frosted commented on #70
[code]

Which means that it doesn't support `--HEAD`. It's somewhat included already.

Please try installing with just `--HEAD` and use following lisp code:

[code]

[2018-02-05 10:45] nskalis commented on #70
thanks a lot for the prompt reply and hint about achieving the same. you can close this issue.
emacs now is pointing to the default one and not to spacemacs, but I guess this is sth to ask the spacemacs repo.

[code]

[2018-02-05 10:46] d12frosted commented on #70
👍

This looks like a problem with your `PATH`. And don't forget to `link` emacs (it seems that you played with `unlink`).

[2018-02-05 10:46] #70 closed

[2018-02-05 18:55] rishijavia commented on #70
@d12frosted

I am having a similar issue and I tried installing with just head using the following command:

`brew install emacs-plus --HEAD`

But I'm still getting the following error:
[code]

[2018-02-05 19:04] d12frosted commented on #70
@rishijavia Ok, it seems to be the problem with `HEAD`.

From `emacs-plus` readme:

Thus said, you could just use `--devel` option to install the latest development build. If you really need `--HEAD` build I would suggest you ask on Reddit or #emacs about this compilation error.

[2018-02-05 19:07] rishijavia commented on #70
@d12frosted thanks for the quick response! I think I will stick with the stable version.

Thanks for the heads up though!

[2018-02-07 00:06] k3yavi commented on #63
me too, same issue.

[2018-02-07 17:09] res0nat0r commented on #63
@d12frosted

Hi,

Yes, I can manually just ./configure && make install the emacs-plus-25.3 binary.

[2018-02-10 21:33] jonbash commented on #41
Hey there, just checking what the status on this is? Would love to use a version of GUI Emacs with the natural title bar and whatnot!

[2018-02-10 21:36] jonbash commented on #41
Hey there, just checking what the status on this is? Would love to use a version of GUI Emacs with the natural title bar and whatnot!

[2018-02-12 16:16] deybhayden commented on #41
Taking an excerpt from https://www.emacswiki.org/emacs/EmacsForMacOS, you can fix Spotlight for emacs-plus as well:

[code]

This is working well for me.

[2018-02-17 10:23] codygman opened #71 "Huge performance increase for OSX users increase compiling to use vfork"
Should consider or at least talk about stabilizing --with-vfork option added to fork https://github.com/aaronjensen/homebrew-emacs-plus to improve spacemacs performance for OSX users.

[code]

see https://github.com/magit/magit/issues/2909#issuecomment-292978090 for more info.

[2018-02-17 10:25] codygman commented on #71
Oh, from this issue: https://github.com/d12frosted/homebrew-emacs-plus/issues/63

It looks like this is already being done. Feel free to close this issue if it's not useful.

[2018-02-18 13:48] malloryerik commented on #55
I've noticed a similar issue with the natural color title bar option.
When using light themes the title bar font is rendered in white, so very hard to see. Oddly covering it with another window/frame from emacs or another application (I'm on MacOS High Sierra)  it turns grey, then back to white on focus. Ah, like kaz-yos noticed.

Does anyone know where to set this kind of thing?

[2018-02-19 20:36] jhacksworth commented on #55
I'd rather have a blank title bar than one with ugly text, so I'm currently using this hack to remove the title bar text:

[code]

[2018-02-20 08:36] d12frosted commented on #71
Yeah, it's included by default. :)

[2018-02-20 08:36] #71 closed

[2018-03-03 20:07] rsrock commented on #55
Try

[code]

[2018-03-04 06:01] jhacksworth commented on #55
Thanks @rsrock! That worked 🎉

I had tried a similar configuration, but had quoted `dark`, i.e., `'dark`, which doesn't work.

Just to be clear, **this works** for me:

[code]

This **doesn't work** *(note the single quote in front of dark)*:
[code]
@kaz-yos I see that you have the single quote in front of `dark` in your configuration above. Have you tried without the quote?

[2018-03-05 13:49] kaz-yos commented on #55
@rsrock @jhacksworth Thanks. Dropping the single quote did solve the issue!

[2018-03-05 14:57] jhacksworth commented on #55
@kaz-yos Great to hear! 😄

[2018-03-23 05:45] deybhayden opened #72 "brew services stop doesn't work"
Hi there! Thanks for the great Emacs macOS build! I noticed this earlier, but if I start the service, and then later want to restart the server, I have to kill everything by hand, because stop/restart don't seem to be working?

<img width="1362" alt="screen shot 2018-03-23 at 12 43 04 am" src="https://user-images.githubusercontent.com/877908/37813525-6ef2198a-2e33-11e8-91f6-3da927a39d4a.png">

[2018-04-10 06:08] d12frosted opened #73 "Emacs 26.1"
RC1 is already out. Waiting for the official release to update.

[2018-04-10 11:59] d12frosted commented on #72
I am sorry for late reply. Somehow I missed your message :(

Never really used `services` command of `brew`, so didn't see this issue before. I am in travel mode right now, so can't really check it, will do once I am back.

In case you already figured that out, please let me know 😸

[2018-04-10 12:01] d12frosted commented on #60
Ideally, this issue should be fixed in Emacs. But in case someone fetches the patch for this, I am happy to apply it from the formula automatically(?).

[2018-04-12 11:07] dmgm commented on #73
I proposed a pull to update the --devel option to use RC1. On reddit one of the developers is saying it's pretty stable and please help them test it.

[2018-04-18 15:45] antonalekseev commented on #72
Actually, current issue goes beyond `homebrew services` infrastructure. Process which is running under supervision of `launchd` isn't supposed to _daemonise_ itself, as per `launchd.plist(5)`:

Therefore current (version 25.3) behaviour of `emacs --daemon` is not compatible with `launchd`.

Good news is that the option `--new-daemon` which instructs process to stay in foreground was introduced in

[2018-04-21 17:25] d12frosted commented on #73
@dmgm yeah, good point ❤️! I've updated the formulae

[2018-04-21 17:47] d12frosted commented on #72
@antonalekseev thanks for the input!

I'd wait for 26.1 and switch to `--fg-daemon` like you did in https://github.com/antonalekseev/homebrew-tap/commit/de73bbb02c79c6a776a33b9a02ee57fe92147a52.

[2018-05-01 14:09] Blaisorblade opened #75 "Gotta rebuild emacs-plus bottle and bump version again because some library got updated"
[code]

Workaround I'm testing:
[code]

But I'm confused, I'd expect emacs-plus to link to `libMagickCore-6.Q16.dylib` and `libMagickWand-6.Q16.dylib`, I'd think they exist for that? But never done native development on Mac, only Linux.

[2018-05-01 23:37] vv111y opened #76 "V26.1 debugger hang - high CPU cycles"
I'll borrow spacemacs report:

#### Description :octocat:
Once entering into the debugger, emacs hangs with high CPU use.

#### Reproduction guide :beetle:
- Start Emacs
- Enable dugger
- cause some error

*Observed behaviour:* :eyes: :broken_heart:
hang

*Expected behaviour:* :heart: :smile:
don't hang. have the backtrace.

#### System Info :computer:
- OS: darwin
- Emacs: 26.0.91
- Spacemacs: 0.

[2018-05-02 08:13] d12frosted commented on #76
Hey,

Please try updating Emacs (there is a `26.1-rc1` available).

But if the issue persists, please try to reproduce using GNU Emacs (regular `emacs` package). And if it still hangs with GNU Emacs, I think you should write about this issue on Emacs mailing list.

[2018-05-02 08:16] d12frosted commented on #75
Hey,

Did you update/reinstall your system? I made an update recently and I had to reinstall all my brew packages due to a similar issue.

[2018-05-02 08:38] Blaisorblade commented on #75
Reinstall no, update libmagick: yes. So you need a new revision. This is a bit like https://github.com/d12frosted/homebrew-emacs-plus/issues/44, you remember?

[2018-05-02 08:39] Blaisorblade commented on #75
But in this case I don’t know that a new bottle exists... but if you don’t have the issue with updated homebrew, that’s the reason.

[2018-05-02 08:41] d12frosted commented on #75
Oh. Probably I've just updated my system and got into the issue with `libmagick` and thought that it's due the system update.

Ok. Will do the update soon. Thanks for letting me know ❤️

[2018-05-02 17:29] dqdinh commented on #75
FWIW, this issue was blocking my workflow as I use spacemacs. I got it to run with

`brew reinstall emacs-plus --HEAD`.

The only issue I get is when trying to update packages in spacemaces:

`-> Warning: cannot update 155 package(s), possibly due to a temporary network problem:`

[2018-05-02 17:50] Blaisorblade commented on #75
@dqdinh that failure might be a regression or incompatibility of the beta version you get from HEAD.

I think your trick worked not because of the head version but because you didn't use the bottle (which must be recompiled), so using `brew install emacs-plus --build-from-source` (after uninstalling) might be a safer solution. Yet alternatively, installing the bottle and using the workaround with

[2018-05-02 20:53] d12frosted commented on #75
Ok, an updated bottle should be available shortly. Unfortunately, only for Sierra (haven't updated to High Sierra yet).

[2018-05-03 03:47] dqdinh commented on #75
@Blaisorblade - Thanks, you were right about HEAD being the cause of the failure and using `ln` as the better workaround.

@d12frosted  - Thank you for pushing up an updated bottle. I reinstalled and everything works!

[2018-05-03 13:56] Blaisorblade commented on #75
Worked for me too, closing!

[2018-05-03 13:56] #75 closed

[2018-05-11 20:09] d12frosted commented on #63
FYI, I've just uploaded a bottle for High Sierra. Please, try using it 😸

[2018-05-11 20:10] d12frosted commented on #60
Closing this issue as it's out of scope of this repo and for lack of activity. Let me know if you have any objections 😸

[2018-05-11 20:10] #60 closed

[2018-05-12 06:38] d12frosted commented on #31
Hey,

I've just did some changes and tried building `--without-cocoa` using `HEAD` and 25.3 versions - everything worked locally. I've also added a build variant to travis, so it builds against stable release using `--without-cocoa` now. You can see it in [build#31](https://travis-ci.org/d12frosted/homebrew-emacs-plus/builds/378018109).

Could you please also try it?

BTW, in the first error messa

[2018-05-13 08:32] twlz0ne commented on #31
Glad you are still concerned about this issue and tt seems to have been solved:

[code]

[2018-05-13 08:32] #31 closed

[2018-05-13 09:12] d12frosted commented on #31
Glad that it is resolved for you. Sorry that it took so much time 🐱

[2018-05-20 01:40] hsg777 commented on #55
Thanks @rsrock! It has fixed the issue for spacemacs on macos high sierra.

<img width="740" alt="image" src="https://user-images.githubusercontent.com/19594688/40274745-3d33a786-5bad-11e8-8a02-50bf2bfc163d.png">

[2018-05-21 00:25] frankjonen opened #77 "Portable Dumper flag"
I just saw this on Spacemacs' Twitter: [portable-dumper](https://github.com/syl20bnr/spacemacs/blob/develop/EXPERIMENTAL.org#spacemacs-dumps-using-the-portable-dumper)

Maybe add a flag `--portapotty` to the formula to enable that in emacs-plus?

[2018-05-21 19:20] d12frosted commented on #77
Hey @frankjonen

Thanks for the feature request.

I am not committing, but I'll work on it during next two weeks. Will keep you updated.

[2018-05-24 17:31] #63 closed

[2018-05-24 19:34] d12frosted commented on #77
@frankjonen hey, I've created a PR for this. You can try it by performing following steps:

[code]

`--with-pdumper` uses `pdumper` branch and a patch to increase the size of `remembered_data`.

Let me know if it doesn't work for you.

Soon (probably tomorrow or the day after tomorrow) I will merge this PR and update Spacemacs doc regarding installation instructions for macOS.

cc @syl20bnr

[2018-05-25 05:11] frankjonen commented on #77
Ace! That was fast. I'll give it a shot over the weekend as I've never used homebrew this way.

[2018-05-28 16:27] j-martin commented on #73
@d12frosted it's now out :)

https://lists.gnu.org/archive/html/emacs-devel/2018-05/msg00765.html

[2018-05-28 18:35] d12frosted commented on #73
Super great to hear! Please see #81. Once it's green - I'll merge it into master 😸

[2018-05-28 19:18] d12frosted commented on #73
It's out. I'll also update the bottle for Sierra. For High Sierra will be available once I return home from the trip. Or if I manage to connect to computer with High Sierra.

[2018-05-28 19:19] d12frosted commented on #55
Emacs 26.1 is out. Closing this issue 😸

Let me know if you have any questions/problems.

[2018-05-28 19:19] #55 closed

[2018-05-28 19:19] d12frosted commented on #30
Emacs 26.1 is out. And I've removed all 25.x options, so closing this issue 😸

Let me know if you have any questions/problems.

[2018-05-28 19:19] #30 closed

[2018-05-28 19:20] d12frosted commented on #13
Emacs 26.1 is out. Closing this issue 😸

Let me know if you have any questions/problems.

[2018-05-28 19:20] #13 closed

[2018-05-28 19:49] #72 closed

[2018-05-28 19:51] #77 closed

[2018-05-28 19:53] d12frosted commented on #76
Closing issue for lack of activity. Let me know if you have any updates or wish to keep it open.

Kudos.

[2018-05-28 19:53] #76 closed

[2018-05-29 00:57] frankjonen opened #82 "Update breaks app appearance"
With the option to turn off the frame title bars gone we have to resort to specifying it in the `init.el` where it gets loaded AFTER the app has already launched, not at launch. This would be sort of acceptable if it would work at all but after some searching this part of Emacs 26 was never finished. All it does is turn off the title bar, leaving a bigass gap on the screen top area. Also this does

[2018-05-29 02:44] Gilbert-Wong opened #83 "Emacs 26.1 's formula has no option to disapear natural title bars"
Warning: d12frosted/emacs-plus/emacs-plus: this formula has no --with-natural-title-bars option so it will be ignored!

[2018-05-29 04:16] mclearc commented on #82
I'm using 26.1 on High Sierra and it works fine for me. The code I'm using is:

[code]

[2018-05-29 04:29] d12frosted commented on #83
Hey, unfortunately, yes. I've updated the readme and added few words to caveats section to reflect required actions (52192f0).

Sorry for inconvenience.

[2018-05-29 04:30] d12frosted commented on #82
@mclearc yeah, exactly

@frankjonen sorry for inconvenience, I've updated the readme and added few words to caveats section to reflect required actions (52192f0).

[2018-05-29 05:45] Gilbert-Wong commented on #83
Thank you for reply.

[2018-05-29 05:45] #83 closed

[2018-05-31 14:32] frankjonen commented on #82
@mclearc not at all similar. This just darkens the title bar and sets the text to white somewhen after the application has already launched. This just skins the window.  `--with-no-title-bars` removed them.

@d12frosted the workaround you're noting in the caveats to get the exact same behaviour, doesn't yield a similar result. It just darkens the title bar and leaves the text black.

The behaviour

[2018-06-03 15:55] mzgnr opened #85 "Emacs depends on little-cms2"
After upgrading emacs stopped working.

`brew install little-cms2` fixed

[2018-06-04 08:39] d12frosted commented on #85
You've used bottle, right?

If yes, this is a known issue - travis build is failing for exact reason. I am not sure that `little-cms2` is needed.

I am returning today from a trip and will check it at last.

[2018-06-04 09:16] d12frosted opened #86 "Error - Emacs cannot be opened because of the problem"
cc @rmm5t

More info in this thread: https://github.com/d12frosted/homebrew-emacs-plus/commit/56fc46c2e7a0f4f8925cbab4c9730be5d6b45367#commitcomment-29183841

![](https://user-images.githubusercontent.com/740/39586721-fc87a98a-4eb4-11e8-993f-4884913e1de4.png)

[2018-06-04 09:55] d12frosted opened #87 "Setup environment for building bottles"
Right now I am building on two laptops that are heavily used. I want to build in clean environment.

This is useful for both bottles and possibly upcoming cask.

[2018-06-04 09:59] d12frosted commented on #82
@frankjonen Ok, possibly that was a bad decision to remove this option. Sorry for that. I will look into it ASAP, but I doubt that it'll happen before the weekends.

If someone wants to step in, you know, PRs are WARMLY welcome! 😸

[2018-06-04 15:47] mzgnr commented on #85
@d12frosted https://fossies.org/linux/emacs/src/lcms.c I think its needed

[2018-06-04 16:34] d12frosted commented on #85
Ok. You are right. Already pushed the change. I've actually tried installing it manually in the `before_install` hook, but it didn't work. Explicitly adding it as a dependency did the trick.

Thanks for rising this issue!

[2018-06-04 16:34] #85 closed

[2018-06-04 20:24] CestDiego commented on #82
I too support this happening. I have had great experience with -no-title-bar.  It allows things like these to happen:

![img](https://user-images.githubusercontent.com/3291619/32392279-55c99258-c0ab-11e7-851f-77a5f4c2cf23.png)

![!img2](https://user-images.githubusercontent.com/3291619/33235444-839574f6-d206-11e7-97a9-fee1f2c60692.png)

[2018-06-05 06:21] d12frosted commented on #82
Ok. It seems that Emacs 26.1 already has all the necessary stuff to make it working. As @frankjonen said, it's not documented (or at least, I could not find any relevant documentation). After some trial I've managed to make it working by adding following code to the beginning of my `init.el` file:

[code]

@frankjonen and @CestDiego, could you please check if it works for you? 😸 If not, please che

[2018-06-05 09:34] frankjonen commented on #82
It's a well-meaning setting (and one that I had commented on before). Unfortunately it leaves you with a gap where the title bar used to be and no way to grab on to the window to scale it up vertically. Probably could do it with an AppleScript (example on [my Pastebin](https://pastebin.com/pBc5wYUt)) but I have no idea how to trigger it from the init.el / spacemacs.el setup.

Using normal installa

[2018-06-05 16:51] d12frosted commented on #82
@frankjonen
If I add only `(add-to-list 'default-frame-alist '(undecorated . t))` I see the gap. Once I add `(add-to-list 'default-frame-alist '(fullscreen . maximized))` the gap goes away. Do you set `fullscreen` to `maximized`?

[2018-06-05 16:53] d12frosted commented on #82
BTW, you didn't specify any configurations you are making in any of your comments. It would be super helpful if you said in the first comment that you tried setting `undecorated` to `t`.

[2018-06-05 19:33] frankjonen commented on #82
Oh right. I sort of implied neither of them making a difference to the gapishness.

- `undecorated . t` = gap
- `undecorated . t` + `fullscreen . maximized` = gap

No `--HEAD` setup, just the normal one.

[2018-06-05 20:32] CestDiego commented on #82
@d12frosted as you can see in this github issue: https://github.com/koekeishiya/chunkwm/issues/265#issuecomment-394801114

This has problems with the chunkwm window manager. It would be better if we had the no-title-bar option back. Would this just be a revert on the commit that removed it? I'm not familiar with the quirks of this but I would love to help make this happe.

[2018-06-06 03:48] bittopaz opened #88 "Logs for `brew services restart emacs-plus`"
`brew services restart emacs-plus` is a good way to manage the daemon of emacs. But for the logging, it might be better to output the logs when starting the daemon.

[code]

[2018-06-06 05:55] d12frosted commented on #82
Thanks for checking @frankjonen and @CestDiego

@CestDiego unfortunately no, as the patch behind the toggle has no sense on `26.1+`. That patch was an experimental hack until 26.1 comes out. Right now Emacs has a means of creating undecorated frames, but it seems to behave differently. Quick look at `nsterm.m` didn't help to understand me why.

Since I don't use this option I didn't notice it befo

[2018-06-06 07:44] d12frosted commented on #87
Done

[2018-06-06 07:44] #87 closed

[2018-06-06 14:20] frankjonen opened #89 "Colour profile?"
Would it be possible to add an option to reference the user's desired display profile (ICC or OCIO)?

Right now we have to set the colours to be all messed up because Emacs sets them to `Apple RGB` and doesn't tag the pixmaps it creates, hence the UI doesn't go together colour-wise.

The solution of setting all colours to be messed up as suggested by the Emacs project maintainers reads more like a

[2018-06-06 18:07] CestDiego commented on #82
Great to know. Thanks for the support.

On Wed, Jun 6, 2018, 1:55 AM Boris <notifications@github.com> wrote:

--
Diego Berrocal
http://diegoberrocal.com

[2018-06-08 14:49] frankjonen commented on #89
Or not.

`(setq powerline-image-apple-rgb t)` fixes the powerline issue of pixmaps being generated in the wrong colour space. Saves you from having to throw all colours off by turning off sRGB.

[2018-06-11 05:40] d12frosted commented on #82
I've tried adding several changes to `nterm.m`, but it didn't help. Following the thread I've started on mailing list, gonna file a bug, cause I don't know why it doesn't allow to resize even after the changes.

[2018-06-11 11:45] CestDiego commented on #82
Thanks for keeping us updated. Do you think there is a way to use the
previous emacs formula in the meantime
?

On Mon, Jun 11, 2018, 1:40 AM Boris <notifications@github.com> wrote:

--
Diego Berrocal
http://diegoberrocal.com

[2018-06-11 17:31] d12frosted commented on #82
Yes, I thought about providing `emacs-plus@25` formulae for you guys. Looks like issue with title bar won't be fixed ASAP.

[2018-06-11 17:39] d12frosted commented on #82
Short update:

[code]

[2018-06-11 19:13] CestDiego commented on #82
That works. Thanks. However I hope that we can eventually use emacs 26 T_T

[2018-06-12 04:12] d12frosted commented on #82
Haha. I understand. Though right now I can't promise fast resolution for this issue on Emacs 26.1.

[2018-06-12 04:29] d12frosted commented on #73
Ok, bottle for High Sierra is out.

[2018-06-12 04:29] #73 closed

[2018-06-12 04:39] d12frosted commented on #88
Hey,

That makes sense. But I could not find a way to do it with `launchctl`. Though I've modified plist to write logs to files, so you can check them at any moment.

[code]

[2018-06-12 04:46] d12frosted commented on #89
To be honest, I am not sure that I understand the problem.

I know that there are some differences between GNU Emacs and Emacs Mac Port in terms of colours (and powerline is what makes this difference visible). But I never looked into it, nor tried to understand the reason.

If you want to work on a patch for Emacs - I would gladly accept it.

Meanwhile I don't understand what I can do here.

[2018-06-12 05:35] bittopaz commented on #88
Great, I guess that is the best workaround for now. Thanks @d12frosted

[2018-06-12 06:35] d12frosted commented on #82
Good news everyone!

I've pushed a patch that does borderless Emacs (fe4dc95). The option is called `--with-no-titlebar`. And it's even more experimental than before :D

Please note, that I highly advice against using this option, instead use `ns-transparent-titlebar` frame setting. I'll update readme file soon.

@CestDiego @frankjonen

[2018-06-12 18:19] CestDiego commented on #82
@d12frosted I get this:
![image](https://user-images.githubusercontent.com/3291619/41309028-8db4732e-6e4b-11e8-9420-57607075037a.png)

[2018-06-12 18:50] d12frosted commented on #82
Does it fail when you build without no-title-bar option?

On Tue, Jun 12, 2018 at 21:24 Diego Berrocal <notifications@github.com>
wrote:

--
Cheers,
Boris

[2018-06-12 19:14] CestDiego commented on #82
It does not fail

[2018-06-12 19:23] d12frosted commented on #82
Ah, my apologises. I made a mistake in a formula that I pushed. Was creating patch and applying it on two different machines and didn't copy paste everything.

I was planning also to add a test for this.

[2018-06-12 19:30] CestDiego commented on #82
Sounds good. I'm happy to test it again when you are ready.

On Tue, Jun 12, 2018, 3:23 PM Boris <notifications@github.com> wrote:

--
Diego Berrocal
http://diegoberrocal.com

[2018-06-13 02:07] d12frosted commented on #82
Already

On Tue, Jun 12, 2018 at 22:30 Diego Berrocal <notifications@github.com>
wrote:

--
Cheers,
Boris

[2018-06-13 03:03] CestDiego commented on #82
It works :D

On Tue, Jun 12, 2018 at 10:07 PM Boris <notifications@github.com> wrote:

--
Diego Berrocal
http://diegoberrocal.com

[2018-06-13 04:42] d12frosted commented on #82
Glad to hear 😸

So I am closing this issue. If there is something wrong with current implementation, just let me know (either in this issue or fire new one).

[2018-06-13 04:42] #82 closed

[2018-06-14 18:32] d12frosted commented on #17
Yes! Thanks to @irfn we now have the support of xwidgets!

5581568c7f2c235860d1ad729e5c150ea5574769

[2018-06-14 18:32] #17 closed

[2018-06-19 14:02] SmartAI opened #92 "libjpeg version problem"
can not start emacs on macos

[code]

[2018-06-19 14:06] SmartAI commented on #92
build from source fix this problem
[code]

[2018-06-19 14:07] d12frosted commented on #92
Thanks for the report. I will check this out, probably I'll need to update bottles.

Meanwhile, install with either `-s` (release) flag or `--HEAD`.

[2018-06-22 11:55] d12frosted commented on #92
I tried on different setups and could not reproduce this. Anyone else?

[2018-07-25 06:46] d12frosted commented on #55
@junjiemars It's interesting. First of all, when I try using `unbound` value Emacs behaves the same as with default values. And also, I don't see `unbound` value handing in the `nsterm.m` file of Emacs.

---

Regarding `ns-appearance`:

[code]

As you can see, if it's not `dark`, then the default value is used. And this is also described in the info pages.

[code]

---

Similar story with `ns-tran

[2018-07-25 08:37] junjiemars commented on #55
@d12frosted ```desktop-save``` => ```frameset-save```  => reopen Emacs => frame title bar sucked.

After ```frameset-save```, ```(ns-transparent-titlebar . unbound) (ns-appearance . unbound)``` will be saved into desktop file.

[2018-07-27 05:41] d12frosted commented on #55
I see. Thanks.

So yeah, maybe it worth mentioning in the documentation that one might want to set the value of `frameset-filter-alist`.

[2018-07-30 21:17] DanTheColoradan commented on #29
I may have run into the same issue. It was caused by installing via `brew install emacs-plus` first, and then ` brew install emacs-plus --HEAD --with-natural-title-bars`. It didn't like that I had it installed already. And the error was a bit technical/hard to follow.

I did `brew rm emacs-plus && brew cleanup && brew install emacs-plus --HEAD --with-natural-title-bars`. The cleanup is likely *not

[2018-08-20 01:31] agzam opened #94 "--with-xwidgets seems to be broken"
[code]

[2018-09-13 05:27] d12frosted commented on #92
Closing as inactive.

[2018-09-13 05:27] #92 closed

[2018-09-13 05:32] d12frosted commented on #88
I don't see any better solution than the log files, so I consider this issue as (partially) fixed.

[2018-09-13 05:32] #88 closed

[2018-09-13 05:57] d12frosted commented on #94
It's interesting. Works for me with the latest `master`. @agzam can you please try again? 😸

[2018-09-14 16:49] agzam commented on #94
nope... still broken for me
[code]

[2018-09-15 02:59] vv111y commented on #94
I just had this problem as well

[2018-09-15 07:53] d12frosted commented on #94
Got it. Will play around with the patch tomorrow.

Thanks for checking :)

[2018-09-16 14:56] d12frosted commented on #94
I bring the news. First of all, I didn't get the error because of a typo (so the patch was not used in the first place). Secondly, I've tried to fix the patch, but since conflicts are not trivial, I've asked more competent people to check it. Will keep you updated.

[2018-09-16 14:58] d12frosted commented on #94
By the way, right now you can still install it by calling `brew` with `--debug` option and then switching to some old commit (1 month?).

[code]

[2018-09-17 03:18] agzam commented on #94
--with-pdumper option doesn't seem to be working either ;(

[2018-09-19 20:49] Kwask94 opened #95 "Blank Screen"
Hello, I'm having rather strange problem while trying to emacs-plus. it gives me total blank screen
System - Mojave

![](https://preview.ibb.co/hTJxGe/Screen_Shot_2018_09_19_at_11_45_01_PM.png)

I've tried both version 25/26 and it get's me the same results. I use spacemacs

thanks

[2018-09-20 04:38] d12frosted commented on #95
Hi @Kwask94 ,

Sounds bad. I don't have Mojave on any of my computers yet, so I can't test it right away. Just a hint - try using `--HEAD` option during installation. Maybe there are fixes for new OS.

[2018-09-23 00:45] amokan commented on #95
FWIW - Same problem for me. OSX Mojave.

[2018-09-24 20:35] bwl commented on #95
Hit same problem on fresh install of Mojave. Tried reinstalling with `--HEAD` and issue unfortunately persists.

[2018-09-25 04:33] d12frosted commented on #95
I get messages that some people are using `emacs-plus` on Mojave without any problems.

I have two suggestions:

1. Install the latest Xcode and command line tools.
2. Reinstall `emacs-plus` (release version should be ok).

[2018-09-25 06:55] dsdshcym commented on #95
Hope these can help:
- http://emacs.1067599.n8.nabble.com/bug-31904-27-0-50-Emacs-doesn-t-render-text-modeline-Mac-OSX-10-14-Mojave-tt458613.html
- http://emacs.1067599.n8.nabble.com/bug-32812-27-0-50-macOS-Mojave-GNU-Emacs-crash-after-5-10-minutes-or-so-td465791.html

I added these two patches to `emacs-plus.rb` and the issue got fixed:

[code]

[2018-09-26 15:44] ChrisBuchholz commented on #95
Adding the patches

[code]

As [dsdshcym mentions](https://github.com/d12frosted/homebrew-emacs-plus/issues/95#issuecomment-424228332) and then installing with `--HEAD` seems to have fixed the problem for me as well.

[2018-09-26 16:42] d12frosted commented on #95
@fbkarsdorp thank you for checking. It's sad that it didn't work.

@dsdshcym nice! thank you very much! I will add these to formula.

@ChrisBuchholz thanks for checking it! Does it work without HEAD?

[2018-09-26 16:50] d12frosted commented on #95
FYI, I have a PR with this change. Will update readme and info message to help Mojave users.

[2018-09-26 17:18] #95 closed

[2018-09-26 17:18] d12frosted commented on #95
Merged. Please use `--HEAD` option for installing `emacs-plus` on macOS Mojave.

Thanks everyone who reported this issue and everyone who helped to find a workaround. ❤️

[2018-09-26 17:41] d12frosted commented on #94
Still no news with `xwidgets` option. But there is a PR for `pdumper`: https://github.com/d12frosted/homebrew-emacs-plus/pull/97. Will be merged soon.

Sorry for making you to wait for so long.

[2018-09-26 17:49] benjamin-rood commented on #82
Failing for me with `--HEAD`:

[code]

This is with a completely fresh install of homebrew, fwiw.

[2018-09-26 17:50] d12frosted commented on #82
Please try without `--with-no-titlebar`. I will take a look why this one fails.

[2018-09-26 17:52] benjamin-rood commented on #82
@d12frosted Hi Boris without the `--with-no-titlebar` flag it installs fine from `--HEAD`. I'm reporting/bringing it up for your information. 😃

[2018-09-26 22:31] frankjonen commented on #82
Oh totally forgot about this. The non `--HEAD` version with no titlebar works fine now. Had to re-install recently because my Homebrew install fk'd itself into oblivion.

Thanks @d12frosted for coming through with this.

[2018-09-26 23:15] aaronjensen commented on #95
There's another patch to fix a deprecation warning: https://lists.gnu.org/archive/html/emacs-devel/2018-09/msg00934.html

[2018-09-27 04:30] d12frosted commented on #82
@benjamin-rood nice! I haven't checked why `--with-no-titlebar` fails, but I will take a look.

@frankjonen 👌 thanks for checking 😸

P. S. I hope these fixes for macOS Mojave will be merged soon into master branch of Emacs.

[2018-09-27 04:32] d12frosted opened #98 "Bottle for macOS Mojave"
Mojave is out, bottle is missing 😈

I will do it once I upgrade to Mojave and check that Emacs works on it (see https://github.com/d12frosted/homebrew-emacs-plus/issues/82).

[2018-09-27 04:37] d12frosted commented on #95
@aaronjensen looks good and not as big 😸

Would be nice if someone could check that this only patch works well on Mojave (instead two we've added yesterday).

[2018-09-27 04:44] aaronjensen commented on #95
@d12frosted that one is only the second part (the first part is here, which is what I incorrectly assumed was applied here already: https://lists.gnu.org/archive/html/emacs-devel/2018-09/msg00931.html)

I tried to apply those two patches to `--HEAD` and they didn't apply. It's possible that I did something wrong or that they're intended for `emacs-26`. Either way, what's there now works fine for n

[2018-09-27 04:46] d12frosted commented on #95
@aaronjensen I see. Thank you very much for checking this out 😸

I agree, let's wait for the official fixes.

[2018-09-27 14:58] shuxiao9058 opened #99 "Error: undefined method `shelljoin' for nil:NilClass"
[code]

[2018-09-28 04:19] d12frosted commented on #99
Hi,

What OS version do you have?

[2018-09-28 04:28] shuxiao9058 commented on #99
macOS Majove

[2018-09-28 04:44] d12frosted commented on #99
Ok. Can you please do

[code]

Optionally you can use different icon, but don't use any other stuff like `--with-no-title-bar` etc.

[2018-09-28 05:34] shuxiao9058 commented on #99
also the same error:

[code]

[2018-09-28 06:12] shuxiao9058 commented on #99
It seems the patch error.

[2018-09-28 10:15] d12frosted commented on #99
Yes. I don’t have Mojave right now, so can’t fix it right now. Will update
very soon.

On Fri, Sep 28, 2018 at 09:12 Allen Shaw <notifications@github.com> wrote:

--
Cheers,
Boris

[2018-09-29 11:56] d12frosted commented on #99
Just installed Mojave and made tried to install `emacs-plus`. Got no issues.

[code]

[2018-09-29 11:57] d12frosted commented on #99
@shuxiao9058

Can you manually apply `patch-multicolor-font.diff` to `/Users/jiya/Library/Caches/Homebrew/emacs-plus--git`?

[2018-09-29 13:06] shuxiao9058 commented on #99
[code]

[2018-09-29 13:08] shuxiao9058 commented on #99
success with manual patch.

[2018-09-29 13:09] d12frosted commented on #99
That's the expected result. And even expected numbers. Honestly, I don't understand what's going on with `brew` on your system.

You can try to get more information by running installation with `-v` option. Or you can manually fix the problem by using `-d` option.

P. S. I've pushed one more change. You can also try to `brew update` and `brew install -v emacs-plus --HEAD`.

[2018-09-29 13:13] shuxiao9058 commented on #99
It is ok now with the latest formula(no --with-xwidgets, and brew cleanup before install), thank you very much.

[2018-09-29 13:16] d12frosted commented on #99
Yay. I am so pleased to hear that.

[2018-09-29 13:17] #99 closed

[2018-09-29 15:02] shuxiao9058 opened #101 "ERROR brew upgrade"
[code]

[2018-09-29 15:11] d12frosted commented on #101
Well, as the errors says, you have to install using `--HEAD` option.

[2018-09-29 15:12] crazymousethief commented on #101
Just do this
[code]
Related issue #95

[2018-09-29 15:12] d12frosted commented on #101
Ah, the error is brought even if you have installed it with `--HEAD` option.

[2018-09-29 15:15] d12frosted commented on #101
Commit 8216ee8d1942c6d2978ae9faabf050725da91333 should do the trick.

[2018-09-29 15:16] d12frosted commented on #101
@shuxiao9058 thank you for reporting 😸

[2018-09-29 15:27] d12frosted commented on #101
Ok, sorry. Today is not my day :(

Here is the fix for regression eb2afa8

[2018-09-29 16:59] d12frosted commented on #101
If there are no other complaints regarding this issue, I am clothing it.

Thanks everyone and sorry for the mess.

[2018-09-29 16:59] #101 closed

[2018-10-03 19:55] fbkarsdorp commented on #98
It appears that the patches are also pushed to the Emacs 26 branch: http://lists.gnu.org/archive/html/emacs-devel/2018-09/msg00962.html Would be great to downgrade to 26 again.

[2018-10-05 06:56] d12frosted commented on #95
@aaronjensen thanks for linking it here.

P. S. I haven't faced this issue yet.

[2018-10-13 12:13] niskrev opened #106 "errors after `brew install emacs-plus`"
==> Pouring imagemagick@6-6.9.10-12.high_sierra.bottle.tar.gz
Error: Failed changing install name in /usr/local/Cellar/imagemagick@6/6.9.10-12/lib/libMagickWand-6.Q16.6.dylib
  from @@HOMEBREW_PREFIX@@/opt/freetype/lib/libfreetype.6.dylib
    to /usr/local/opt/freetype/lib/libfreetype.6.dylib
Error: Unrecognized Mach-O magic: 0xa741543
Warning: Bottle installation failed: building from source.
==>

[2018-10-16 06:46] d12frosted commented on #106
This is interesting. I've checked both URLs (main and the mirror) and got expected checksum.

[code]

Could you please try removing `imagemagick` and trying again?

[code]

[2018-10-25 15:28] paulhenrich opened #107 ""'Emacs' would like to control this computer using accessibility features""
![screen shot 2018-10-24 at 8 49 54 pm](https://user-images.githubusercontent.com/919849/47511461-3b5d1100-d848-11e8-9414-eec0e4272613.png)

I just got this dialog on MacOS Mojave (10.14) with Emacs 26.1 (9.0) installed with `brew install emacs-plus` yesterday. It happened after clicking in the menu bar, but instead of the menu opening, it displayed this dialog. I have seen it once before on a pre

[2018-10-25 22:00] bwolf commented on #107
I have seen this also in various combinations (without interacting with the menu). Also Emacs requested access to contacts, calendars, photos, accessibility. I blamed so far Mojave, because these where present in High Sierra also. Emacs worked fine so far (beside some rendering issues which remain unsolved).

[2018-10-26 18:03] d12frosted commented on #107
Hi everyone,

These messages depend on your Emacs configurations. You are prompted once your code tries to do something that requires additional permissions/features. They changed this in Mojave and you can see many applications are now causing this kind of prompts to appear.

For example, if you open a `multi-term`(or something alike) in Emacs and run

[code]

You will be prompted to allow `Emacs

[2018-10-29 23:21] bwolf commented on #107
Thanks,

in my case I never do such things (afaik). But I do also see this issue in various other Apps like Dropbox (stopped recently) and also in JetBrains products. Sometimes is happens in Emacs when I use the menu (by accident with the mouse, I nearly never use the menu).

I guess what you describe has (maybe) something todo with full disk access, which is new in Mojave. My configuration lives

[2018-11-02 19:38] d12frosted commented on #106
No problem! I am glad that it worked out eventually. Pitty to hear about the problems with your OS installation.

P. S. Kudos for reporting back 😸 I am closing the issue then.

[2018-11-02 19:38] #106 closed

[2018-11-07 21:00] vyorkin commented on #95
facing the same rendering issue as @aaronjensen, sometimes it just renders a blank screen

[2018-11-08 06:30] d12frosted commented on #107
Once I give permissions, all other menus are opening on hover as well.

BTW, I can reproduce this behaviour with other Emacs 'distributions' (e. g. building from sources on the master branch, a prebuilt app from emacsformacosx) without any custom configurations. There must be something about Emacs itself that asks for permissions.

[2018-11-29 07:22] agzam opened #108 "Strange things in Mojave"
I'm not sure if this is emacs-plus related or it's simply Mojave breaks cocoa Emacs (in `--devel` and `--head`).

For some reason when I tried installing formula with `--devel` or `--with-pdumper --HEAD` - gui emacs won't display anything. It looks like it's working (not freezing), but there's nothing - just completely blank frame. Creating new frame doesn't fix that.
Installing with just `--HEAD`

[2018-12-01 17:15] afincato commented on #95
been having the same blank screen problem when i installed `emacs-plus` with some options, eg

[code]

if i just install `emacs-plus` with

[code]

everything runs smoothly on macOS Mojave (`10.14.1 `).

hope this can help!

[2018-12-03 06:59] yuhan0 opened #109 "Discrepancy between versions in behaviour of cl-loop macro"
I ran into this strange issue when using git-gutter on the HEAD version of emacs 27.0.50 from this formula and having it jump randomly around the buffer while trying to navigate between hunks. After some digging it turned out to be a difference in the way emacs 27 processes a specific form of cl-loop macro,  see the minimal example below :

[code]

With Emacs 26 this returns `4`, but in Emacs 27 i

[2018-12-03 18:39] agzam commented on #108
@d12frosted it is sad that pdumper doesn't work. I just received a new machine at work with Mojave and have no way to revert. Would you be so kind to ping me here whenever you or someone else gets it to work properly? Fundamentally I want xwidgets and pdumper - those things are cool.

[2018-12-11 08:22] ocyedwin opened #110 "Error: undefined method `undent' for #<String:0x00007fc7ff9f41a0>"
Unable to install `emacs-plus` on Mojave,

[code]

debug info:
[code]

`brew info` gave same error:

[code]

[2018-12-26 20:17] webframp opened #111 "Unreadable faces in tooltip display"
Hi @d12frosted !

I think I have the same issue described here: https://github.com/pitkali/pos-tip/issues/2 and I'm wondering if there's an option I missed when building the formula. I installed with `brew install emacs-plus`.

My versions of things:
* OS:  Mac OS X - 10.14.2 build 18C54
* Emacs 26.1
* Spacemacs v.0.300.0 - develop branch.

The [syntax-checking layer adds the flycheck-pos-tip pack

[2018-12-27 06:13] d12frosted commented on #111
Hi,

I am pretty sure that this issue is caused by the dark mode of Mojave. There are two workarounds that I know of:

1. Disable Dark Mode.
2. Run `defaults write org.gnu.Emacs NSRequiresAquaSystemAppearance true` in the terminal and restart Emacs. In order to revert this change - `defaults delete org.gnu.Emacs NSRequiresAquaSystemAppearance`.

Let me know if it doesn't help you.

[2018-12-27 06:17] d12frosted commented on #110
Hi,

Sorry for the long silence.

Are you sure you didn't perform any changes to the bottle or to the sources? AFAIK, Emacs doesn't use `git-lfs`. Nor do I use it in this repo.

As a workaround, try to install `git-lfs` by doing `brew install git-lfs`.

P. S. I wonder why `emacs-plus` installs Emacs 25. Please run `brew update` before installing anything.

[2018-12-27 06:18] d12frosted commented on #108
Sure I will ping you. AFAIK, it is still not working.

Mojave release did break a lot of stuff in Emacs land :(

[2018-12-31 06:34] yuhan0 commented on #109
Yes, I reported and it appears to be an upstream issue - see
https://debbugs.gnu.org/cgi/bugreport.cgi?bug=32506
https://debbugs.gnu.org/cgi/bugreport.cgi?bug=33890

I think this issue can be closed, thanks!

[2018-12-31 06:34] #109 closed

[2019-01-06 16:30] shuxiao9058 opened #112 "emacs crash when run under terminal with 'emacs -nw'"
[code]

[2019-01-09 11:18] d12frosted commented on #112
Would be helpful to know in what circumstances this happened and how did you build Emacs.

[2019-01-09 16:42] shuxiao9058 commented on #112
I install the emacs with brew.

[code]

I run emacs under the iTerm2(Build 3.2.6).

[2019-01-17 07:40] agzam commented on #108
Pdumper branch was merged to `master` https://www.reddit.com/r/emacs/comments/aglmzu/portable_dumper_landed_in_master. However, it still not working in Mojave. Just fyi

[2019-01-19 03:14] JamesMcMahon commented on #95
I still hit the issue after running plain old,

    brew install emacs-plus

I see the following in the console on startup,

[2019-01-19 04:10] JamesMcMahon opened #113 "--HEAD build error"
Trying to work around some of issues effecting Mojave (https://github.com/d12frosted/homebrew-emacs-plus/issues/95)

I am getting the following error when running

    brew install emacs-plus --HEAD

==> Cloning https://github.com/emacs-mirror/emacs.git
Cloning into '/Users/jamie/Library/Caches/Homebrew/emacs-plus--git'...
Checking out files: 100% (3900/3900), done.
==> Checking out branch master

[2019-01-19 16:44] JamesMcMahon commented on #95
I ended up just installing the emacs cask for now. I'll try again once this package is all caught up.

[2019-01-20 05:32] shuxiao9058 commented on #113
It build success with the latest emacs master branch revision.

[2019-01-26 21:40] RosalesJ commented on #95
I had an old computer with Mojave and emacs-plus worked fine on it. When upgrading to a new computer this issue occurred and I've switched to emacs-mac for the time being (which I do have some problems with) until this issue is dealt with.

[2019-02-12 13:08] nipunarora opened #115 "Running emacs-plus on terminal similar to nox"
I am using emacs-plus in mac OS mojave? I wonder if there is a way to run this in `iterm` itself instead of as an app? Is there a `emacs-nox` alternative similar to what we have in ubuntu?

[2019-02-13 18:42] d12frosted commented on #115
Sure, just run `emacs -nw`. You can alias this to whatever you like. For some time I aliased it to `em`.

[2019-02-13 18:43] d12frosted commented on #115
BTW, there is a similar question:

https://github.com/d12frosted/homebrew-emacs-plus/issues/2#issuecomment-213894581

[2019-02-13 18:47] d12frosted commented on #113
Thanks for the report. Unfortunately, it happens time to time with `HEAD` option. Right now it works (apparently not only for me), so I am closing this issue.

P. S. Sorry for the late response - being very busy lately.

[2019-02-13 18:47] #113 closed

[2019-02-13 18:47] d12frosted commented on #108
That's neat that it was merged :100:

Does it work now?

[2019-02-13 19:03] d12frosted commented on #112
I can't reproduce :(

Are you still affected?

[2019-02-14 02:47] shuxiao9058 commented on #112
yes,

[code]

- OS: darwin (x86_64-apple-darwin18.2.0)
- Emacs: 27.0.50 (Feb 14, 2019)
- Doom: 2.0.9 (develop 9f96e3eae82fc8a841b0037834e928bef98e421c)
- Graphic display: t (daemon: nil)
- System features: RSVG IMAGEMAGICK DBUS GLIB NOTIFY KQUEUE ACL GNUTLS LIBXML2 ZLIB TOOLKIT_SCROLL_BARS NS MODULES THREADS PDUMPER LCMS2 GMP
- Details:
[code]

[2019-02-14 07:36] agzam commented on #108
nope... I don't think it does. Not on my machine at least

[2019-02-14 09:02] d12frosted commented on #112
Oh well. I can't reproduce on my machine. Will check another computer.

[2019-02-16 09:12] shuxiao9058 commented on #112
@d12frosted  It was caused by my config file, thanks for your reply.

refer to: https://github.com/hlissner/doom-emacs/issues/1170

[2019-02-16 09:12] #112 closed

[2019-02-16 10:49] d12frosted commented on #112
Oh. Glad you figured that out.

[2019-02-28 20:26] slippycheeze opened #116 "support `jansson` library on HEAD"
Brew packages the `jansson` JSON parser library, and HEAD uses it optionally for higher performance parsing.  It would be nice to add that as an option to the formula, or just as a mandatory dep for HEAD.

I have not checked if 26 supports it at all.

[2019-02-28 20:27] slippycheeze opened #117 "Switch to ImageMagick 7 for HEAD"
HEAD now supports ImageMagick 7; it'd be nice to enable that in the formula.

[2019-03-04 19:25] parhamdoustdar commented on #108
Is this why `--head` seems to install Emacs version 26.1? When I run the following:

`brew install emacs-plus --without-spacemax-icon --head --with-mailutils --with-dbus --with-ctags`

And I open Emacs and run `emacs-version`, I get:

`GNU Emacs 26.1 (build 1, x86_64-apple-darwin18.2.0, NS appkit-1671.20 Version 10.14.3 (Build 18D109)) of 2019-03-04`

[2019-03-05 05:03] d12frosted commented on #108
@parhamdoustdar that's because you have typos in your options list:

1. It should be `--HEAD` instead of `--head`. This is why you don't get the latest version.
2. It should be `--without-spacemacs-icon` instead of `--without-spacemax-icon`. That's why you don't get the default Emacs icon.

[2019-03-06 11:05] parhamdoustdar commented on #108
Thanks a lot for the answer! Yes, all mistakes on my side.

On Tue, Mar 5, 2019 at 6:03 AM Boris Buliga <notifications@github.com>
wrote:

[2019-03-15 19:46] IsaacPhys opened #118 "Cannot use linum-mode in terminal"
I download the newest version of emacs-plus --HEAD today. Once I open linum mode in termianl, it collapse.

Fatal error 11: Segmentation fault[1]    51144 abort

[2019-03-15 20:38] d12frosted commented on #118
Can you please try to reproduce with GNU Emacs? If the problem persists,
it's better to report to Emacs bug tracker.

On Fri, Mar 15, 2019 at 21:46 Isaac <notifications@github.com> wrote:

--
Cheers,
Boris

[2019-03-15 20:39] #118 closed

[2019-03-15 20:40] d12frosted commented on #118
Does it work now? :)

On Fri, Mar 15, 2019 at 22:39 Isaac <notifications@github.com> wrote:

--
Cheers,
Boris

[2019-03-15 20:41] IsaacPhys commented on #118
Yes. Just change 'linum-mode' to 'display-numbes-mode'. This is only needed for emacs -nw.

[2019-03-15 20:43] d12frosted commented on #118
Oh cool. Glad you figured that out!

On Fri, Mar 15, 2019 at 22:41 Isaac <notifications@github.com> wrote:

--
Cheers,
Boris

[2019-03-16 16:10] xenodium opened #119 "Disable focusing other frame when closing one"
When closing a frame, Emacs automatically focuses another frame.

![before](https://user-images.githubusercontent.com/8107219/54477896-51be3600-4804-11e9-800a-9b25b9611ce7.gif)

This re-focus has an additional side-effect: when closing a frame from one desktop/space, one gets automatically moved to another desktop/space where the refocused frame lives.

Not been able to find a way to disable the r

[2019-03-17 13:28] daviderestivo commented on #117
I have added ImageMagick 7 support to my personal homebrew GNU/Emacs formula.
@d12frosted if you like you can use the code in [this commit](
https://github.com/daviderestivo/homebrew-emacs-head/commit/c437dce1b7b35cd56c2efff3022e23b850dcafdb).

[2019-03-28 12:12] jsmestad commented on #94
@d12frosted I couldnt dig up anything on xwidgets yet, have you heard anything (2019 update)?

[2019-03-28 20:49] d12frosted commented on #94
@jsmestad unfortunately no :(

[2019-03-28 20:51] d12frosted commented on #119
I see 3 thumb-ups. I say - send PR, I will be glad to merge it. :smile_cat:

[2019-03-28 20:52] d12frosted commented on #116
Neat. There is PR that adds this: https://github.com/d12frosted/homebrew-emacs-plus/pull/120/files#diff-cbfee31de48c4c925ef3e240a0362bb2R262

[2019-03-28 20:52] #115 closed

[2019-03-28 20:53] #110 closed

[2019-03-28 20:53] d12frosted commented on #110
Closing for lack of activity. Let me know if you still have the problem.

[2019-03-29 18:15] d12frosted commented on #116
Merged to master.

[2019-03-29 18:15] #116 closed

[2019-03-29 18:15] d12frosted commented on #119
Merged to master.

[2019-03-29 18:15] #119 closed

[2019-03-29 18:15] d12frosted commented on #117
Merged to master.

P. S. @daviderestivo Sorry, I missed your message :( But the work got to this repo!

[2019-03-29 18:15] #117 closed

[2019-03-30 06:23] daviderestivo commented on #117
Thanks :)

[2019-04-12 18:37] foltrask commented on #108
Just upgraded to Mojave and I have same issue described by OP launching `Emacs.app` that was built with `--HEAD` on High Sierra:
[code]
On terminal `emacs -nw` is working fine.

Trying to reinstall I get:
[code]

[2019-04-12 19:11] foltrask commented on #108
Just checking in to say that pdumper seems to be working for me, I didn't set the flag when building.

[2019-04-12 19:13] waymondo commented on #108
I can chime in with @foltrask that I built with pdumper on 10.14.4 and it seems to be working for me

[2019-04-12 22:32] vinurs opened #124 "Emacs 26.2 is out"
we cau update to this version

[2019-04-14 10:24] #124 closed

[2019-04-15 19:37] axelson commented on #124
There's two related PR's for this:
* https://github.com/d12frosted/homebrew-emacs-plus/pull/125
* https://github.com/d12frosted/homebrew-emacs-plus/pull/126

[2019-04-17 17:31] d12frosted opened #128 "Bottles for Emacs 26.2"
Now that there is a new version of Emacs, I need to prepare bottles.

Hopefully, I will do it this week. But I can do it only for Mojave. If someone can help me with the previous macOS version, it would be really nice. If anyone is interested, just let me know, I will share the instructions.

Basically (if nothing changed from the last time I've done this) all you need to do is

1. Produce a bottl

[2019-04-17 17:35] jonhermansen commented on #128
@d12frosted I'm happy to do this for High Sierra! I can run a build today.

[2019-04-17 17:44] shuxiao9058 commented on #128
@d12frosted Sorry for that my macOS version is Mojave too, thanks for your work.

[2019-04-19 15:25] winmillwill opened #130 "UX: frame doesn't fill window space"
I found this project while looking for a build with no titlebar, and that seems to work fine, and so does everything else, so kudos and thank you!

One random gotcha that may be worth documenting is that if you don't have something like `(setq frame-resize-pixelwise t)` then you're liable to have some wonky gaps between windows when tiling, unless your typeface is somehow exactly aligned with your

[2019-04-21 07:45] #128 closed

[2019-04-21 15:52] d12frosted commented on #130
Hi @winmillwill ,

Thank you for the feedback. I am glad that it works for you.

Indeed, makes sense to document this. PR would be welcome :smile_cat:

[2019-04-21 16:16] daviderestivo commented on #130
Thanks a lot for sharing. I was not aware about this option.

[2019-04-21 19:08] jonhermansen commented on #128
@d12frosted I finally emailed you the bottle file, sorry for the delay. Let me know if there's anything else I can do!

[2019-04-22 15:46] d12frosted commented on #130
Documented thanks to @winmillwill  :smile_cat:

[2019-04-22 15:46] #130 closed

[2019-04-23 06:36] d12frosted commented on #128
Thank you @jonhermansen. I've uploaded the bottle and added it to the formulae. If someone could test, it would be awesome!

[2019-04-23 09:17] SergeStinckwich opened #133 "Bottle for emacs-plus 26.2 does not exist"
[code]

[2019-04-23 09:54] d12frosted commented on #133
Hi @SergeStinckwich, thank you for the report.

Hm... that's interesting because `brew` generated files with double dashes in the name: `
emacs-plus--26.2.mojave.bottle.2.tar.gz`. But when downloading it uses `
emacs-plus-26.2.mojave.bottle.2.tar.gz`.

Just in case, I've duplicated the bottles with a single dash. Would be cool if you retry.

On the other hand, the failure you faced is not related

[2019-04-23 09:54] d12frosted commented on #133
Oh and just realised - I pushed bottle for high sierra to wrong branch :smile_cat: now in master!

[2019-04-23 11:33] SergeStinckwich commented on #133
Still have the same error

[code]

I have last Xcode 10.2.1 installed. ``brew doctor`` shows nothing suspicious.

[2019-04-23 12:10] d12frosted commented on #133
Now works the bottle: https://travis-ci.org/d12frosted/homebrew-emacs-plus/jobs/523451797#L1388

Regarding your build failure - I have no clue right now :man_shrugging:

[2019-04-23 13:18] SergeStinckwich commented on #133
I was able to dl the bottle now. Thank you !

[2019-04-23 13:27] d12frosted commented on #133
Great! @jonhermansen provided the bottle :smile_cat:

[2019-04-27 07:13] d12frosted commented on #128
Worth mentioned - the bottle is available for several days already 😸 Thanks to @jonhermansen

[2019-04-30 13:58] #133 closed

[2019-05-06 15:32] stephanschubert opened #135 "Wrong type argument: char-table-p, nil"
`brew install emacs-plus --HEAD` fails with:

[code]

It worked a few weeks ago..

**EDIT:** `brew install emacs-plus` works.

[2019-05-06 15:38] d12frosted commented on #135
Hey @stephanschubert,

Unfortunately, it's `--HEAD`, a development branch. Things happen to break there sometimes. I already see a [message](https://lists.gnu.org/archive/html/emacs-devel/2019-05/msg00108.html) on `emacs-devel` regarding this particular build failure. Hopefully it will be fixed soon.

P. S. From README:

[2019-05-06 15:40] d12frosted commented on #135
But please don't close this issue until the build is fixed :smile_cat: It's better to increase the visibility and provide a message that it's a known issue :small_airplane: Let's wait until it's fixed.

All others, please don't upgrade if you are using `--HEAD`.

[2019-05-13 18:50] pcr910303 commented on #94
Have a new patch for 2019 :-)

I'm not an emacs expert; actually I first saw the emacs C sources today.
However, I made a patch (based on [the fork](https://github.com/veshboo/emacs) and [the original patch](https://gist.github.com/fuxialexander/0231e994fd27be6dd87db60339238813/)) [here](https://gist.github.com/pcr910303/fd4811f13463cfa0170626418cbc8f6a).

It's based on [d2d4916046e31e46598f0a0edb

[2019-05-14 12:00] d12frosted commented on #94
@pcr910303 would be so cool of you to send me a PR that I can merge :smile_cat:

[2019-05-15 17:28] #94 closed

[2019-05-15 18:12] pcr910303 commented on #41
As this repo is already running Travis CI and building Emacs, I would appreciate if the Travis CI would build per every commit and publish the binaries to GitHub or Binary, etc... and make a cask for it.

[2019-05-15 18:18] d12frosted commented on #41
Yes, I use travis to run builds (just to test that everything builds). Note sure that it worth deploying on every build, because I only deploy 'default' configuration, which changes only once in a while.

AFAIK, you can only provide bottles for default options, right?

Regarding cask - I don't know how to do it, actually. I remember I've read some documentation about it, but don't remember any det

[2019-05-15 19:04] pcr910303 commented on #41
@d12frosted
Yeah, you can only provide some default options for Homebrew cask(AFAIK cask != bottles)
I’ll see the `.travis.yml` tomorrow and (hopefully) make a PR; It’s too late here (4AM) :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-15 20:07] fbkarsdorp opened #137 "Occasional glitches"
I'm aware the blank screen issue (#95) was largely resolved with Emacs 26.2, but I'm still experiencing occasional glitches and redrawings. Most people seem to happy with the fixes introduced in 26.2, so perhaps it's my config (which isn't doing anything fancy, though), or do other people also still experience this?

[2019-05-16 00:29] pcr910303 commented on #137
I’m also experiencing occational glitches in macOS High Sierra with Emacs compiled from master and with the xwidget patch applied; but I’m not sure what’s causing it, considering that HEAD isn’t bug-free, or the xwidget patch may be the problem; or something else?

[2019-05-16 07:06] d12frosted commented on #137
I also experience them time to time on Mojave, but it's not as bad as it used to be when Mojave came out. I don't have the links right now, but there are threads on the Emacs mailing list related to these glitches. In general, mailing list is the best place to address such issues.

But let's summon @aaronjensen :smile_cat: I am sure you know better!

[2019-05-16 08:06] shuxiao9058 commented on #94
why not support Mojave?

[2019-05-16 08:08] d12frosted commented on #94
Actually, I don't remember. I've removed this restriction locally and will push it once I am in the office.

On Thu, May 16, 2019 at 11:06, Allen Shaw <notifications@github.com> wrote:

[2019-05-16 08:26] d12frosted commented on #94
@shuxiao9058 pushed the change, have fun!

[2019-05-16 08:32] shuxiao9058 commented on #94
I will try later.

[2019-05-16 08:39] d12frosted commented on #41
@pcr910303 cool, let me know if you need anything

I would say that it's too early :smile_cat:

[2019-05-16 09:06] d12frosted commented on #94
`--HEAD` builds for me, but --with-xwidgets` doesn't. Error during `make` stage.

[2019-05-16 09:10] pcr910303 commented on #94
@d12frosted Does HEAD build? For me it doesn’t, because of some obscure `makeinfo` command(a few hours ago).
I’ll check if that’s because of my patch.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-16 09:14] d12frosted commented on #94
@pcr910303 as I said, plain `--HEAD` builds. But when I add `--with-xwidgets`, it doesn't :(

[2019-05-16 10:19] aaronjensen commented on #137
some context: https://debbugs.gnu.org/db/33/33891.html

My report that led to some fixes: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=32932

And yes, there are still flickers.

Alan is aware and probably just too busy to address. If you have specific repros, I'd recommend opening a new issue, it may breathe more life into the conversation and give Alan what he needs to fix it. Or, maybe someone

[2019-05-16 10:33] aaronjensen commented on #137
One other note, you might want to experiment with the railwaycat macport version: https://github.com/railwaycat/homebrew-emacsmacport

Mitsuharu Yamamoto has been working hard on the rendering portion and it looks like he introduced metal based double buffering back in November.

[2019-05-16 11:04] d12frosted commented on #137
A man can dream... :100:

Thank you @aaronjensen for great input!

Regarding emacs-mac-port, while it fixes a lot of 'bugs' and provides nice features (like good retina support), it feels much slower than GNU Emacs, which always was a no-go-for me. So I agree that it's best for everyone to try both approaches and decide what can be traded off.

[2019-05-16 11:59] fbkarsdorp commented on #137
Thanks all for the comforting thought I'm not the only one experiencing these rare glitches. There's one 'glitch' I can reproduce consistently. In org-agenda when clicking on a header and subsequently moving the mouse down, other lines get selected too. This is something that doesn't happen in 26.1 (9.0). Here's an animation of what happens:

![glitch](https://user-images.githubusercontent.com/294

[2019-05-16 13:16] pcr910303 commented on #94
@d12frosted Okay, I was wondering why my local clone was building while the brew formula wasn't :-(

Apparently I didn't add all files into the staging area and performed a `git diff` (ah... stubborn me :-()
I'll open another PR for that, sorry for my repeated mistakes.

[2019-05-16 13:39] d12frosted commented on #94
@pcr910303 no problem :) waiting for PR

[2019-05-16 13:40] pcr910303 commented on #94
@d12frosted Actually I already made my PR about 15mins ago 👍

[2019-05-16 15:17] d12frosted commented on #94
@pcr910303 lol, let me check it then

[2019-05-16 15:26] d12frosted commented on #94
Ok, builds with latest PR. :100:

[2019-05-16 15:28] d12frosted commented on #94
And works. Managed to run it! Yay. @agzam you should be happy!

[2019-05-16 22:39] agzam commented on #94
I can't wait to try this out. Damn it takes too long to compile Emacs. I get anxiety panic when I have to be with no Emacs, even for a few minutes.

[2019-05-16 22:45] agzam commented on #108
Does that mean that --with-pdumper can be re-enabled for Mojave? Will it work?

[2019-05-17 04:28] d12frosted commented on #94
Oh, I know the feeling! I totally understand it!

[2019-05-17 04:29] d12frosted commented on #108
Don't know. Needs to be tested. I'll try to check this out today.

[2019-05-17 08:22] d12frosted commented on #108
@agzam apparently, pdumper was merged to master, so I am opening this on Mojave. You can try it already :) It still building on my machine, but everything should be fine.

BTW, I've also opened x11 option for Mojave :) It's good to live in the year 2019!

[2019-05-18 00:22] shuxiao9058 opened #140 "fail build on Mojave"
[code]

[2019-05-18 01:22] pcr910303 commented on #140
@shuxiao9058 Can you re-run the command with the `—debug` option on, and go to the shell when the error appears, and copy `src/nsterm.m.rej`, `src/xwidget.c.rej` and paste or upload it here?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-18 09:22] shuxiao9058 commented on #140
nsterm.m.rej
[code]

***************
*** 829,837 ****
    (Lisp_Object xwidget)
  {
    CHECK_XWIDGET (xwidget);
    GtkRequisition requisition;
    gtk_widget_size_request (XXWIDGET (xwidget)->widget_osr, &requisition);
    return list2i (requisition.width, requisition.height);
  }

xwidget.c.rej
[code]

[2019-05-18 11:22] pcr910303 commented on #140
@shuxiao9058 Sorry; can you do
`brew install wiggle` and (with the debug option on) go to the shell,
`/usr/local/bin/wiggle --replace nsterm.m nsterm.m.rej`, `/usr/local/bin/wiggle --replace xterm.c xterm.c.rej` and see if it compiles?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-18 13:11] pcr910303 commented on #140
@shuxiao9058 I'm investigating the problem; the patch currently works on the master branch... but not on the pdumper branch.
Can you test if when the option `--with-pdumper` is ommited?

[2019-05-18 13:54] d12frosted commented on #140
Also please try to build without `--with-no-frame-refocus`. I never checked if multiple patches work together. :smile_cat: Can't build and test myself right now. Will have an ability probably tomorrow or the day after.

[2019-05-18 14:16] pcr910303 commented on #140
@d12frosted Actually prepared a PR for the pdumper branch :-)

[2019-05-20 07:24] #140 closed

[2019-05-20 07:25] d12frosted commented on #140
Hi everyone,

Sorry I wasn't available over the weekends.

@pcr910303 Thank you for your PR, I've merged it :smile_cat:

@shuxiao9058 can you please check if it works for you?

[2019-05-20 11:46] shuxiao9058 commented on #140
it works fine now, thanks a not. @d12frosted @pcr910303

[2019-05-29 06:56] behike56 opened #142 "Error: emacs: undefined method `sha1' for #<Resource::PatchResource:0x00007fbd340da108>"
I want use mu4e with spacemacs.
[code]
[code]
[code]
[code]

I tried to install emacs just in case.
[code]
[code]

By the way, I installed spacemacs like this...
[code]

so, what should I do?

[2019-05-30 07:17] d12frosted commented on #142
hey @behike56

sounds bad :crying_cat_face:

could you please try doing `$ brew upgrade`? and then try again?

[2019-05-30 13:24] JSpenced opened #143 "Can --with-no-title-bars be available in emacs 27 --HEAD branch?"
I know this feature is pushed up for emacs 26.1, but has anyone tested it with emacs 27 HEAD branch. I have upgraded to emacs 27 due to problems with magit and dired in emacs 26.1. I would like to remove the title bar as before. BUt it doesn't allow this option when specified with --HEAD.

[2019-05-30 13:44] d12frosted commented on #143
Hey @JSpenced ,

I won't be able to try it until weekends, but you can do it yourself by editing the formula (just remove the `if` check [here](https://github.com/d12frosted/homebrew-emacs-plus/blob/master/Formula/emacs-plus.rb#L116)).

[2019-05-30 17:47] JSpenced commented on #143
I'm not that familiar with how to manually install a brew tap after making changes. I am assuming I can clone it and make the change. Then, make a commit and install from my local HEAD branch. I'm just not sure the command to install from a local repo. Any links or tips and I'll give it a try tomorrow.

[2019-05-30 17:48] pcr910303 commented on #143
@JSpenced try `brew edit emacs-plus` 👍

[2019-05-30 17:54] JSpenced commented on #143
Wow, too easy thanks @pcr910303

This is the error I get. I am not sure if it could be from still using El Capitan or just it doesn't work on emacs 27:
![image](https://user-images.githubusercontent.com/43424787/58652771-4a142500-834f-11e9-9476-8efd3ecc5f04.png)

[2019-05-30 18:10] JSpenced commented on #143
I think the main problem is the file nsterm.m changed a bit so the line numbers are a bit different now. The line numbers for the negative part should be:
455
1815
6940
7344
7381.

Not sure how to change a patch to test it though.

[2019-05-30 23:44] pcr910303 commented on #143
@JSpenced If the numbers change only, the `patch` program gracefully handles it - it looks like some of the code changed :-(
Try `brew install emacs-mac --with-no-title-bars --HEAD --debug` and when the error happens, drop to the shell. Use the [`wiggle`](https://linux.die.net/man/1/wiggle) program to apply the patch and continue building.

[2019-05-31 02:42] JSpenced commented on #143
Okay, I tried wiggle but I get 1 unresolved conflict still, which I couldn't figure out how to see what this was. Also, I wasn't sure how to continue the build. If I use `exit` to get out of the shell than the build just cancels.

But from looking at the code, it looks basically the same so I think the major line differences come from other parts of the code so the patch should work.

[2019-06-01 01:35] pcr910303 commented on #143
@JSpenced Just open the unresolved file and resolve it. The unresolved parts will be denoted with `<<<<<<`, `|||||||`, and `>>>>>>`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-01 01:36] pcr910303 commented on #143
@JSpenced I remember that you could exit the shell and the build resumed, but if it doesn’t, just run `make`x

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-03 03:13] JSpenced commented on #143
@pcr910303 When I exit out of zsh the build just cancels but I will try this.

[2019-06-03 14:10] behike56 commented on #142
$ brew info mu
mu: stable 1.2.0 (bottled), HEAD
Tool for searching e-mail messages stored in the maildir-format
https://www.djcbsoftware.nl/code/mu/
Not installed
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/mu.rb
==> Dependencies
Error: emacs: undefined method `sha1' for #<Resource::PatchResource:0x00007fd69c706640>

no change

[2019-06-04 08:35] d12frosted commented on #142
Well, to be honest, this issue is really unlikely to be related to this repository. It seems that something is wrong in your setup :crying_cat_face:

I've googled this issue and have several suggestions:

1. Try doing `brew upgrade` (though it seems that it didn't help you).
2. Make sure that `brew doctor` is green.
3. I've seen that similar issue can be caused by some taps. For example, try to `b

[2019-06-06 03:58] behike56 commented on #142
Thank you for your time.
Please give some advice at the end.

Are there any problems with this?
[code]

[2019-06-06 06:45] d12frosted commented on #142
Honestly, I am not sure which can lead to the mentioned problem.

Could you please try untapping listed taps one by one to see if it fixes your problem? Also, did you try `brew doctor`?

[2019-06-08 07:30] behike56 commented on #142
Yes I did .
[code]
Anyway, I do something for myself.

[2019-06-08 07:37] d12frosted commented on #142
Well, I am run out of ideas :( If you removed all taps and it still happens, I advice you to contact `homebrew` maintainers, because they know the best.

[2019-06-11 15:57] snarisi commented on #143
I was able to get this to work - after resolving the conflict and exiting the shell, you can choose the option to `ignore` in the brew debugger and the build will continue.

[2019-06-12 05:08] #142 closed

[2019-06-12 05:11] JSpenced commented on #143
@snarisi Is there an easy way to post the patched file with all the conflicts resolved?

[2019-06-12 16:12] snarisi commented on #143
@JSpenced sure, here's the file after i apply the patch: https://gist.github.com/snarisi/f2dc538378a184636f1df52edf7bca84

[2019-06-15 01:36] JSpenced commented on #143
@pcr910303 Can I use wiggle and the patched file above to create the patch for emacs 27?

[2019-06-15 01:56] pcr910303 commented on #143
@JSpenced Why would you not use `git diff`?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-24 05:34] Yevgnen opened #144 "Failed to build on macOS 10.14.5"
Build failed with `brew install -v emacs-plus --without-spacemacs-icon --with-xwidgets --with-jansson --HEAD`, the logs are placed [here](https://gist.github.com/Yevgnen/8c8cd053a3a8acbd47503e339c6d5ad9).

[2019-06-24 05:59] shuxiao9058 commented on #144
this was because of emacs recent commit https://github.com/emacs-mirror/emacs/commit/b9ac4f815ebaa1acb0d045fe9583f665efa6f628

[2019-06-24 06:05] Yevgnen commented on #144
Thanks for the information, I know little of `.c` and have no idea of that.

[2019-06-24 06:05] #144 closed

[2019-06-24 12:29] elsifaka opened #145 "Undefined symbols "_freea" for architecture x86_64"
When I do a `brew upgrade emacs-plus --fetch-HEAD`
It stops with:
[code]

I don't know how to open an issue upstream:
[code]

Do I need to install something?

[2019-06-24 17:33] pcr910303 commented on #145
This bug is reported already upstream; Try recompiling in a few days :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-24 18:00] d12frosted commented on #145
Yeah, exactly as @pcr910303 says :)

Actually, it's even a duplicate :)

[2019-06-25 05:06] elsifaka commented on #145
:-) closing then, the beta suggestion does not work well yet :-)

[2019-06-25 05:06] #145 closed

[2019-06-26 00:13] pcr910303 commented on #145
@elsifaka Looks like this bug is fixed in commit 848ff94b45. Try rebuilding from HEAD :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-26 00:14] pcr910303 commented on #144
@Yevgnen Looks like this bug is fixed in commit 848ff94b45. Try rebuilding from HEAD :-)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-26 00:27] Yevgnen commented on #144
Thanks for the information. Now I got another error of `HEAD-e8d1743`...😂

    clang   -Wno-switch -Wno-pointer-sign -Wno-string-plus-int -Wno-unknown-attributes -Wno-initializer-overrides -Wno-tautological-compare -Wno-tautological-constant-out-of-range-compare  -I. -I../src -I../lib -I. -I./../src -I./../lib    -g3 -O2 -o ebrowse ebrowse.c  ../lib/libgnu.a
    clang   -Wno-switch -Wno-pointer-si

[2019-06-26 05:39] d12frosted commented on #144
@Yevgnen lucky you are! :smile_cat:

[2019-07-01 14:00] elsifaka commented on #145
@pcr910303 rebuilt and everything is fine 👍

[2019-07-14 03:56] smallzhan opened #146 "Patch failed with recent commits."
`brew install emacs-plus --HEAD --with-xwidgets --with-jansson --without-spacemacs-icon`
with the commit id `bcc3d36d8a`.

The patch `xwidgets_webkit_in_cocoa.patch` failed on file `src/xwidget.c`

Hunk \# 1 FAILED at 18.
Hunk \# 2 succeeded at 67 (offset 1 line).
Hunk \# 3 succeeded at 81 (offset 1 line).
Hunk \# 4 succeeded at 99 (offset 1 line).
Hunk \# 5 succeeded at 117 (offset 1 line).
Hunk

[2019-07-15 13:11] Majenful opened #147 "Fail to install emacs-plus --HEAD"
I was on emacs-mac and wanted to try emacs-plus in 27.x version but it fails when making

**Command used**
`brew install --fetch-HEAD emacs-plus --without-spacemacs-icon --HEAD --with-jansson`

**brew config**
[code]

**error**
[code]

[2019-07-15 16:32] jsmestad commented on #147
This tends to happen as broken commits can get into HEAD on Emacs. When it happens, I often need to switch back to 26.x and then try building from HEAD in a day or so.

[2019-07-16 06:53] Majenful commented on #147
Yesterday I tried at home and it worked. But today it still break with the same error. I might have something cached or missing but I don't know what could it be...

[2019-07-17 10:35] d12frosted commented on #135
I believe it was fixed :)

[2019-07-17 10:35] #135 closed

[2019-07-24 06:52] d4ncer opened #148 "Child frame border styles not working on Mojave & HEAD"
I've been favouring child frames a lot recently (via [`posframe`](https://github.com/tumashu/posframe)) and the only issue I've found with this formulae is the inability to add styling to the borders of these frames. I've confirmed it works on [`emacs-mac`](https://github.com/railwaycat/homebrew-emacsmacport/) running 26.2.

I'm not sure if it's caused by Mojave or `HEAD`:

[code]

Thank you!

[2019-07-24 17:19] jsmestad commented on #147
@Majenful yeah it sounds like it could be cache related

[2019-07-26 12:50] fuxialexander commented on #146
You can try this new patch: https://gist.github.com/fuxialexander/9c69f0d6306e0f8247255999e2db7754

sha: 53c32da5f577a9f0617207c4ef9828498ef746d5eb18200de578fc6d0746d6e2

simply use `brew edit emacs-plus` to edit the formula and replace the corresponding URL and sha

[2019-07-26 15:38] d12frosted commented on #146
@fuxialexander you can send this patch as PR :)

https://github.com/d12frosted/homebrew-emacs-plus/blob/master/patches/xwidgets_webkit_in_cocoa.patch

[2019-07-26 16:52] kirill-gerasimenko-zocdoc commented on #146
Patch applies fine, but build is failing for me

[code]

[2019-07-27 00:56] fuxialexander commented on #146
@kirill-gerasimenko-zocdoc Sorry, the patch missed two newly created file. Please have a try again.

[2019-07-27 06:30] pcr910303 commented on #146
@d12frosted Actually, I have my patches pending in the emacs-dev mailing list: Please see https://lists.gnu.org/archive/html/emacs-devel/2019-07/msg00640.html
Hopefully the patch gets merged and we wont need any patches.
Until them, using them (instead of the giant patch I have added before) might be better. I made some fixes to the patch that isn’t in the current patches.

<sub>Sent with <a href=

[2019-07-29 13:23] Nollo commented on #148
I got it too on High Sierra.

I ended up with `emacs-mac`

[2019-07-29 21:33] JSpenced commented on #143
Was this patch ever included in the normal install? I never got around to reinstalling. Just wondering if this can be closed.

[2019-07-30 04:44] pcr910303 commented on #143
@JSpenced No, I don’t think so. What about making a PR? (It looks like you already have successfully installed; just push the modifications)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-30 07:01] tejas-kale opened #150 "Changing Emacs icon while running"
I am looking to have separate icons for 2 instances of Emacs that I often run and found the following gist to implement the same:

https://gist.github.com/jaeschliman/8591515

I saw an interest from one of the package's contributors to add this to emacs-plus. Has that been done? If yes, how do I use this feature? Thanks.

[2019-08-01 08:12] d12frosted commented on #150
Hi,

I've never heard about this patch, but as always- PRs are welcome. You can also patch emacs-plus locally if you just want functionality and don't want to mess with PRs.

On Tue, Jul 30, 2019 at 10:01, Tejas Kale <notifications@github.com> wrote:

[2019-08-22 19:54] VOID404 opened #151 "SVG not rendering correctly"
I have an svg embedded in org mode. It's not rendering text on an image. When I open svg by itself it's not rendering anything other than background color of shapes.

[2019-09-20 16:50] jassa commented on #107
Related discussion: [emacs menu items require clicking twice](http://emacs.1067599.n8.nabble.com/bug-32864-26-1-menus-don-t-work-correctly-in-Mac-OS-Mojave-td466157.html) (accessibility permission fixes it)

[2019-09-21 16:55] ericzpd opened #154 "Remove "linkapps" from "caveats" section"
The `brew linkapps` command is no longer working. I think it's good to remove the `brew linkapps` part from the `caveats` section.

[2019-10-08 17:40] greened opened #156 "--HEAD not recognized"
This does not seem to work:
[code]
What is the proper way to install the latest emacs-plus?

[2019-10-08 17:41] greened commented on #156
A reinstall without `--HEAD` works.  Is that getting me the latest if I originally installed with `--HEAD`?

[2019-10-08 17:42] greened commented on #41
What is the status of this?

[2019-10-08 18:55] axelson commented on #156
If I recall correctly, an uninstall followed by an install with `--HEAD` should work.

[2019-10-11 17:16] #156 closed

[2019-10-24 15:39] oguzserbetci opened #157 "Wrong window role"
First of all thanks for this awesome distribution! One of the problems I faced was with the window role being `AXTextField`. This causes problems with the window tiler I use, as you can see at its issues: ([yabai](https://github.com/koekeishiya/yabai/issues?utf8=%E2%9C%93&q=is%3Aissue++emacs+)).

I'm not knowledgeable, but it seems like the easiest change would be to change the Emacs window role t

[2019-10-24 15:42] oguzserbetci opened #158 "emacsclient missing in App Container"
I had some issues resulting from emacsclient not being present in the app container, which I could resolve by simply copying it into MacOS folder in the container.

I just wanted to raise the issue to see whether there is a reason it was not included in the distribution.

[2019-10-24 16:44] pcr910303 commented on #157
This repo isn’t the official Emacs repository, and AFAIK the change is non-trivial. If you have a patch for that, you can add it to here; else, I think you should mention this in the emacs-dev mailing list.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-06 11:24] hanfeng0409 commented on #146
@fuxialexander I replace the url  with "https://gist.githubusercontent.com/fuxialexander/9c69f0d6306e0f8247255999e2db7754/raw/68cc2d799e4e4996bf5dccdce3c8f949c4f007c5/new_xwidget_patch.patch" and and she, it tell me that she mismatch. What I should I do?

[2019-11-06 12:46] hanfeng0409 opened #159 "Patch failed with xwidgets"
cmd is `brew install emacs-plus --without-spacemacs-icon --with-jansson --with-xwidgets --HEAD` with master branch. The patch `xwidgets_webkit_in_cocoa.patch` failed on file `src/xwidget.c`.

Hunk #1 succeeded at 484 (offset 1 line).
Hunk #2 succeeded at 2792 (offset -12 lines).
Hunk #3 succeeded at 5711 (offset 41 lines).
patching file lisp/xwidget.el
patching file nextstep/templates/Info.plist.i

[2019-11-06 13:22] pcr910303 commented on #159
@hanfeng0409 Try out the method shown at #143.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-07 05:20] hanfeng0409 commented on #159
@pcr910303 thx for your reply, I have run `brew install emacs-plus --with-xwidgets --HEAD --debug`. I don't know how to change patch file and I try modify `src/xwidget.c` directly in debug mode, then I have installed it successfully.  Another question, can `xwidget` use proxy?

[2019-11-07 09:06] pcr910303 commented on #159
@hanfeng0409 If you are asking about `xwidget-webkit`, you should configure your system proxy for that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-08 01:45] hanfeng0409 commented on #159
@pcr910303 thx

[2019-11-09 03:46] #159 closed

[2019-11-16 15:34] jmromer commented on #154
[code]

[code]

[2019-11-17 10:00] d12frosted commented on #154
Done, removed it from there. Now there are two options:

- Use `ln` to link the application.
- Use Alfred (or any other similar software) to launch applications. Alfred allows to configure search paths, so I add `/usr/local/Cellar` to it's search path for Alfred to see Emacs.app without linking.

[2019-11-17 10:00] #154 closed

[2019-11-17 10:03] d12frosted commented on #158
Hey, sorry for missing your question.

I don't quite understand what you are saying :smile_cat: If you are talking about `app` file for the `emacsclient` executable (which is included), like `Emacs client.app`, so you can run it as a regular Emacs application, then the answer is - just because I never felt the need for it :smile_cat:

[2019-11-17 11:22] d12frosted commented on #41
@greened there is no update on this. If someone really wants to have cask formula, I would gladly take some help on this.

[2019-12-18 18:34] Blaisorblade commented on #107
@jassa That probably explains it:

1. When you click on a menu, Emacs *synthesizes* a click (don't ask why, gory details in [this message](http://emacs.1067599.n8.nabble.com/bug-32864-26-1-menus-don-t-work-correctly-in-Mac-OS-Mojave-tp466157p485731.html)). The thread doesn't discuss hovering, but it's plausibly a related issue.
2. In their words: > In MacOS Mojave, synthetic mouse events are block

[2019-12-23 14:46] aaronjensen opened #161 "Build failing with --HEAD (due to imagemagick)"
Strangely, I was able to build yesterday, but not today. Here's where it crashes:

[code]

I'm not able to build the revision I had built yesterday either, so it doesn't seem like it's an upstream issue. Maybe it's just my machine somehow?

[2019-12-23 16:00] mbarton98 commented on #161
I get the same error on Mojave as of 2019-12-22, so it is not specific to Catalina.

[2019-12-23 16:26] mbarton98 commented on #161
I just noticed that master is now version 28 and there is a release branch for 27.

Cut the emacs-27 release branch

[2019-12-23 16:39] d12frosted commented on #157
Thanks yo the @jakejx we now have an option `--with-window-role-fix`. Please test it. If there are no complaints on this change, I am gonna make it turned on by default in several weeks.

[2019-12-23 17:03] aaronjensen commented on #161
I do not get the error when building manually from source, fwiw.

[2019-12-24 11:30] d12frosted commented on #147
Closing in favor of https://github.com/d12frosted/homebrew-emacs-plus/issues/161

[2019-12-24 11:47] d12frosted commented on #161
Indeed, something is broken. It seems that one of the options doesn't work anymore. Will bisect which one.

[2019-12-24 12:20] d12frosted commented on #161
Yep, it builds if I comment out all the imagemagick stuff. So just add `--without-imagemagick@7` option along with `--HEAD` and you'll be fine.

Not sure what exactly is wrong with imagemagick.

[2019-12-24 16:20] aaronjensen commented on #161
Confirmed, works for me as well. Thanks.

[2019-12-24 19:58] webframp commented on #161
Confirmed as well, this worked for me:
[code]

[2019-12-26 07:05] d12frosted commented on #161
@webframp just curious, what is `--fetch-HEAD`?

[2019-12-26 18:07] webframp commented on #161
@d12frosted just an extra check to ensure I really get the latest:

[code]

[2019-12-27 17:44] agzam opened #162 "--with-xwidgets flag appears to be broken"
can't build from --HEAD --with-xwidgets

[2019-12-27 17:48] d12frosted commented on #162
Hey, please see #161. Closing this as duplicate :)

[2019-12-27 17:49] d12frosted commented on #161
@webframp wow, didn't know about it. thanks!

Regarding the imagemagick - I didn't had a chance to check why it doesn't build. Will try to do it on weekends, but can't promise.

If someone knows what happened, please share your knowledge :)

[2019-12-27 18:08] agzam commented on #162
@d12frosted I don't think it is a duplicate though. It doesn't work with or without imagemagick.

[code]

[2019-12-27 18:12] d12frosted commented on #162
Oh @agzam sorry, for some reason I've read xwidgets as imagemagick! I will take a look later. It's shame that it doesn't work.

[2019-12-27 18:31] mbarton98 commented on #161
@d12frosted FYI, I ended up compiling it myself, but checked out the emacs-27 branch instead of master. Maybe you could try adding an option for emacs-27 in addition to staying on master? I only used the --fetch-head option to get the 27 features of json support to help with lsp-mode.

Thank you for maintaining this formula, it really helped introduce me to Emacs without getting locked into a very

[2019-12-28 07:44] d12frosted commented on #161
Yeah, I could add a `--devel` option. Hopefully will get some time tomorrow to play with it.

Thank you for the kind words :smile_cat:

[2019-12-29 11:23] d12frosted commented on #161
Indeed, it builds on `emacs-27`. I've added a `devel` option, but for some reason it breaks all formula. If someone knows what's wrong with this definition (https://github.com/d12frosted/homebrew-emacs-plus/commit/6507d9fd32cbbd17542a1e4a5ea41c1ccd1b9bb1), I would be glad to know :)

[2019-12-29 11:38] d12frosted commented on #161
It seems that `devel` is not in favor anymore, so I decided to add a separate option for `emacs-27` branch called `--with-emacs-27-branch` in f33038c.

You can use it like this:

[code]

But I need to figure out why HEAD breaks. Will share any updates once I have them.

[2019-12-29 12:04] d12frosted commented on #161
So I found [a thread](https://lists.gnu.org/archive/html/emacs-devel/2019-12/msg00643.html) on the mailing list. It seems that the first patch is already in master (https://github.com/emacs-mirror/emacs/commit/ee12c421b61218a868712f66b0176c451e20717e). And it builds. Actually, thanks to this patch `emacs-27` branch also builds 😸

It seems that there will be another patch related to imagemagick (se

[2019-12-29 12:04] #161 closed

[2019-12-29 13:20] d12frosted commented on #161
Regarding the red master - I've moved to GitHub actions (anyways was planning to do it). And going to check if `--HEAD` will work here (on Travis I could not build the `--HEAD`). See https://github.com/d12frosted/homebrew-emacs-plus/pull/164 for status.

[2019-12-30 06:44] d12frosted commented on #151
I am not sure if I can help you here.

1. Sharing steps to reproduce would be a good starting point.
2. This issue tracker is mostly for issues related to this specific build/formula of Emacs, but not for Emacs itself. It would be great if you could check if it works or not with default installation options (either by tweaking build options for `emacs-plus` or `brew cask install emacs` and running

[2019-12-30 06:46] d12frosted commented on #148
TBH, not sure what you are talking about. Emacs has so many corners and I definitely don't use all of the functionality :) Steps to reproduce?

[2019-12-30 06:50] d12frosted commented on #108
I am a slowpoke. If `pdumper` was merged to master that actually means that I can remove this part:

[code]

[2019-12-30 06:51] d12frosted commented on #137
Does anyone still experience them? For me redrawing works fine now.

[2019-12-30 07:33] d12frosted commented on #108
Ok, here is a PR: https://github.com/d12frosted/homebrew-emacs-plus/pull/165

Anyways, closing this issue as for now Mojave is not an issue. Right? :)

[2019-12-30 07:33] #108 closed

[2019-12-30 07:37] d12frosted commented on #86
Didn't happen for a long time, so closing it.

[2019-12-30 07:37] #86 closed

[2019-12-30 08:04] fbkarsdorp commented on #137
I'm afraid so, yes, though they have reduced in frequency. Which version are you on?

[2019-12-30 08:12] d12frosted commented on #137
That's sad. Well, I am running on `--HEAD`.

[2019-12-30 16:48] aaronjensen commented on #137
I'm trying with this:

[code]

I don't think I've seen any since using that. I'm also on `--HEAD` (well, `emacs-27`)

I was definitely seeing them recently though.

[2019-12-30 21:18] fbkarsdorp commented on #137
I'll give it a try!

[2019-12-31 03:58] seagle0128 commented on #148
@d12frosted I think it's about [chid frames](https://www.gnu.org/software/emacs/manual/html_node/elisp/Child-Frames.html) in 26+. This should be an issue of Emacs itself.

[2019-12-31 14:32] d12frosted commented on #162
@agzam since I moved to GitHub workflows, I am going to add build test for xwidgets options. It doesn't fix the issue per se, but at least improves the visibility on when it breaks 😸 Also in the same PR (#166) I am trying to fix the build. The build passed, but I didn't test it on my machine (e.g. I didn't run to verify if it works). I will test it shortly.

And I want to setup a repository for my

[2019-12-31 14:44] d12frosted commented on #162
Ok, I verified that it works. So merged that fix. Let me know if it works or doesn't work 😸

And @agzam thank you for staying with `emacs-plus` for such a long time 😸

[2019-12-31 14:51] jakejx commented on #143
I believe https://github.com/d12frosted/homebrew-emacs-plus/pull/160 closes this.

[2019-12-31 15:33] d12frosted commented on #143
Exactly, so closing this issue.

[2019-12-31 15:33] #143 closed

[2019-12-31 15:39] d12frosted commented on #146
Was fixed by #166

[2019-12-31 15:39] #146 closed

[2019-12-31 15:42] d12frosted commented on #148
@seagle0128 thanks! Sure I've seen them in the wild, but never directly used them.

[2019-12-31 15:49] d12frosted commented on #156
Yes, it's how you should reinstall any package with brew if you want new options. Hopefully 4f1a9d6 will help others :)

[2020-01-01 12:49] oguzserbetci commented on #157
I just tried it and it works with yabai :)

[2020-01-01 12:50] d12frosted commented on #157
@oguzserbetci cool! I will it give this feature a little bit more time and then will mark it as opt-out 😸

[2020-01-04 10:01] d12frosted opened #167 "xwidgets and window-role fix overlap"
So if you install with both options, xwidgets will override the window-role fix.

[2020-01-04 10:57] #167 closed

[2020-01-04 12:54] #162 closed

[2020-01-04 13:23] #157 closed

[2020-01-07 06:32] ckruse opened #174 "Could not install with `--HEAD --with-emacs-27-branch --with-modern-icon --with-jansson`: build fails"
**Describe the bug**
Build fails when using `--HEAD --with-emacs-27-branch --with-modern-icon --with-jansson` with this error:

[code]

**Command used to install `emacs-plus`**

[code]

[2020-01-07 06:39] ckruse commented on #174
Building master instead of emacs-27 succeeds.

[2020-01-07 07:41] d12frosted commented on #174
Not sure what's wrong. Here you can see reproducible build on CI: https://github.com/d12frosted/homebrew-emacs-plus/pull/175

[2020-01-07 08:01] ckruse commented on #174
What can I do to help to debug this?

[2020-01-07 08:09] d12frosted commented on #174
🤔 I am trying to bisect which commit on emacs-27 breaks the build. Once I find it, I will report to emacs-devel.

I suspect that it was https://github.com/emacs-mirror/emacs/commit/9063124b9125ed5e2ad87bbb8bd6224526723a92, but it takes a lot of time to build it on my personal computer.

[2020-01-07 08:16] d12frosted commented on #174
I've sent an email.

[2020-01-07 16:58] d12frosted commented on #174
You can track the progress here: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=38632#51

[2020-01-07 17:21] ckruse commented on #174
Thank you very much for caring!

[2020-01-07 17:22] d12frosted commented on #174
As you can see (https://github.com/d12frosted/homebrew-emacs-plus/pull/175), applying the fix from that thread works!

[2020-01-07 18:37] ckruse commented on #174
Good news!

[2020-01-08 06:01] ckruse commented on #174
Yay, it works again, thanks for looking after it :-) I'm closing this issue then.

[2020-01-08 06:01] #174 closed

[2020-01-08 06:03] d12frosted commented on #174
@ckruse yay, I am happy to hear that! Just got to the computer and wanted to check email/CI :)

[2020-01-08 07:07] d12frosted opened #176 "Could not install with --HEAD --with-no-titlebar"
**Describe the bug**
Could not build because patch application failed. See https://github.com/d12frosted/homebrew-emacs-plus/pull/175/checks?check_run_id=378817658 and https://github.com/d12frosted/emacs-plus-basis/runs/378873660

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

[2020-01-08 07:12] d12frosted commented on #176
Patch fix is on the way. Will verify that it builds AND works :)

[2020-01-08 07:24] d12frosted commented on #176
Fix was verified locally. Let's wait for CI 😸

[2020-01-08 08:20] d12frosted commented on #176
Fixed in master.

[2020-01-08 08:20] #176 closed

[2020-01-10 07:43] t-hart opened #177 "Emacs doesn't cover the full screen"
I tried to install the formula with a couple different options, but they all seemed to cause the same effect where the application window wouldn't fill the whole screen or assigned area.

When given its own space, it's vertically (and maybe horizontally) shorter than my install of Emacs 26.3 (the Railwaycat version). When run as a floating window on the desktop, it wouldn't cover the whole desktop

[2020-01-10 08:38] d12frosted commented on #177
Hey @t-hart

Can you please try setting `(setq frame-resize-pixelwise t)` somewhere soon in your `init.el` file?

[2020-01-10 17:59] t-hart commented on #177
Sure! I won’t be back in until Monday, but I’ll give it a go then. Feel free to nudge me if I forget 😁

[2020-01-13 18:01] d12frosted commented on #177
@t-hart so it's Monday and here I am, pinging you to check ;)

[2020-01-14 08:44] t-hart commented on #177
Thanks for reminding me! So I tried setting `frame-resize-pixelwise` to `t`, and am happy to report that it appears to be working! What exactly does this do and why does it change the behaviour in this manner?

[2020-01-14 08:44] #177 closed

[2020-01-14 10:20] t-hart opened #178 "Command/alt switch"
When running emacs-plus, it seems to switch my cmd/alt keys from what I expect. I'm used to running `cmd-x` for `M-x`, but with emacs-plus I need to `alt-x`. This is not the case with the other version of Emacs I've got installed (Railwaycat).

I don't know whether this is something that their version changes or that emacs-plus takes care of, but would  it be possible to reverse?

I tried looking

[2020-01-14 10:38] d12frosted commented on #177
No problem! I am glad that it helped! It's actually mentioned in the README file, but hidden behind description of `no-titlebar` option.

In general, when it comes to Emacs configuration, describe functions are the good starting point (e.g. `C-h v frame-resize-pixelwise`). Basically, by default Emacs round the frame size to `frame-char-height ` and `frame-char-width` so you don't see half characte

[2020-01-14 10:47] d12frosted commented on #178
It's because `M` in `M-x` stands for meta key. On modern keyboards we don't have separate key for that so many applications (including Emacs) use Alt as Meta. It's debatable, but the good part is that we are in the Emacs world, were you can make a choice by yourself.

[code]

Note that it makes sense to set this only on macOS and only when outside of terminal.

[code]

Hopefully that helps.

P. S.

[2020-01-14 13:16] t-hart commented on #178
Gotcha! Yeah, I found a corresponding bit of code in the spacemacs OSX layer:
[code]
I'm aware that it's not the standard, it's just always worked that way on macOS for me (I suppose I just always used emacs-mac so never had to deal with it). Mapping command to Meta in Emacs makes it act more like it does in Linux in terms of key positioning and the like.

Thanks  for the snippet, though! Any reas

[2020-01-15 07:59] #178 closed

[2020-01-15 08:01] d12frosted commented on #178
`(cl-rotatef mac-command-modifier mac-option-modifier)` does basically the same. Are you sure that `osx-swap-option-and-command` is set to non-nil value?

Depending on the terminal emulator it might now work. Didn't test any other rather than Terminal.app, but as many other macOS applications it captures keybindings like `cmd+x` (cut), so it's not propagated further.

P. S. I also use cmd as meta

[2020-01-15 08:02] d12frosted commented on #178
I've searched in your emacs configurations and I don't see that you set `osx-swap-option-and-command` to `t`.

https://github.com/t-hart/.emacs.d/search?utf8=%E2%9C%93&q=%22osx-swap-option-and-command%22&type=

[2020-01-15 08:47] t-hart commented on #178
Yeah, I don't think I've touched the `osx-swap-option-and-command` variable  previously. It doesn't even show up when running `C-h v`.

As for the terminal emulators, I tried with Alacritty now, and while it doesn't seem to capture the keybinding, it doesn't register the modifier, so `M-x` comes through  as `x` it seems. Don't know why, but I never really use it in the terminal, so it's not a big

[2020-01-15 11:17] d12frosted commented on #178
Never used it before. And your experience only supports the idea of not touching modifiers in terminal :smile_cat: As far as I remember, Terminal.app by default even doesn't send `option` key as `meta`. You have to change the settings.

My pleasure :smile_cat: I am glad that it works as you want it to work.

[2020-01-22 08:18] Majenful commented on #147
@d12frosted @jsmestad
Hello! I still have the issue. I tried yesterday and the error output is the same.

I also tried to `brew cleanup` or deleting brew cache manually but I still cannot install it.

In #161, you mention imagemagick as a source of issue, should I uninstall it before?

[2020-01-22 08:56] mpolden commented on #137
I still notice the occasional blank buffer issue. This is what happens:
- All displayed buffers suddenly become blank while editing.
- To make Emacs re-render things properly I usually scroll to the top of the buffer and bottom (`beginning-of-buffer`, `end-of-buffer`).
- Occurs infrequently, maybe once a week.

I don't use `emacs-plus` though, just plain Emacs 26.3 (`brew cask install emacs`, whic

[2020-01-22 09:15] d12frosted commented on #147
No, there is no need to uninstall it. The issue was fixed in the latest HEAD. Can you please check from what commit you are build Emacs? You should find the repo in brew cache (somewhere in `~/Library`, you will see the exact location during installation).

[2020-01-22 09:17] d12frosted commented on #137
@mpolden thanks for sharing! I also see some glitches time to time, but not as critical as yours. And usually in `org-agenda` :smile_cat:

[2020-01-22 13:34] Majenful commented on #147
In `~/Library/Caches/Homebrew/emacs-plus--git`

[code]

[2020-01-29 09:42] d12frosted opened #182 "Could not install with --with-no-titlebar --HEAD"
**Describe the bug**
Installation fails because of patch application.

**Command used to install `emacs-plus`**

[code]

**Installation log**

See it here: https://github.com/d12frosted/emacs-plus-basis/runs/414453709?check_suite_focus=true

[2020-01-29 10:03] d12frosted commented on #182
Fixed https://github.com/d12frosted/emacs-plus-basis/runs/414745879?check_suite_focus=true

[2020-01-29 10:29] #182 closed

[2020-01-29 17:15] jsmestad commented on #182
This is now triggering a checksum error for me.

[code]

[2020-01-29 17:18] d12frosted commented on #182
🤔 it's interesting, because it thinks that it has already downloaded this patch and then runs the checksum validation. Can you please run `brew update` and try again?

I see that on [CI it's building properly](https://github.com/d12frosted/homebrew-emacs-plus/runs/414796150#step:3:251) (haven't tried on my computer yet).

[2020-01-29 17:19] jsmestad commented on #182
Yeah, I am up to date there. I'm not sure what is happening either.

[2020-01-29 17:22] jsmestad commented on #182
If I manually delete the file, it works. Looks like homebrew tries to cache the patch files even when running `git cleanup`

[2020-01-29 17:24] d12frosted commented on #182
🤔 wow, it's really interesting. Not sure why it behaves like this. Will try to reproduce it. Maybe I did something wrong when defining the patch? Maybe there is a notion of revisions for patch?

anyway, thank you for letting me know about the problem and I am happy that you found a workaround!

[2020-01-29 17:29] d12frosted commented on #182
Don't see any useful information i [Formula Cookbook][1] regarding patch versioning. Checked also [class documentation][2]. I actually expected hash to be some kind of versioning mechanism. 🤔

  [1]: https://docs.brew.sh/Formula-Cookbook
  [2]: https://rubydoc.brew.sh/Formula#patch-class_method

[2020-01-31 04:03] ciju opened #184 "Could not install with [OPTIONS]"
**Describe the bug**
Installation fails for no-titlebar on emacs-27-branch

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

[2020-01-31 14:07] d12frosted commented on #184
Hi @ciju,

Recently I fixed this issue. Can you please `brew update` and try installing again? If you get the hash mismatch, please let me know and [check this thread](https://github.com/d12frosted/homebrew-emacs-plus/issues/182#issuecomment-579863402).

[2020-01-31 14:12] ciju commented on #184
hey @d12frosted brew is up to date. The error happens only if both `--with-no-titlebar` and `--with-emacs-27-branch` are passed in options. If I use only one of them, the installation goes through. E.g. Right now, I have `brew install emacs-plus --HEAD --with-emacs-27-branch --with-modern-icon --with-jansson` installed.

[2020-01-31 14:15] d12frosted commented on #184
Ah right. I've updated the HEAD patch, but emacs-27 should be the same as it was before. Oh well. Thank you very much for letting me know about this issue.

I am not sure if I will fix it today, but will try to do it on Sunday. Does this work for you?

[2020-01-31 14:15] ciju commented on #184
Hey, no hurry :) Thanks in advance for your help.

[2020-01-31 16:13] d12frosted commented on #147
@Majenful it's interesting. Can you please paste the exact error you have?

[2020-01-31 20:33] d12frosted commented on #184
@ciju added a test case and fixed the patch for emacs-27 branch. Let me know if it doesn't work for you 😸

[2020-02-01 04:02] ciju commented on #184
Hey @d12frosted Thanks. But after installation, emacs is crashing.

[code]

[2020-02-02 06:40] d12frosted commented on #184
🤔 I just tried installing it like this and it doesn't crash (I have runtime errors related to my configurations, but nothing more).

[2020-02-02 07:26] d12frosted commented on #184
The last commit fixes it. Just tested it. @ciju can you please check once more?

[2020-02-02 18:45] ciju commented on #184
Thanks @d12frosted Installed successfully.

[2020-02-02 18:46] #184 closed

[2020-02-03 10:44] d12frosted commented on #184
@ciju nice, happy to hear that it works!

[2020-02-04 15:06] Majenful commented on #147
@d12frosted here is the complete logs:

[code]

[code]

[2020-02-05 06:38] d12frosted commented on #147
Sorry, I can't reproduce this issue. The only thing that looks 'strange' to me in your output is the line

[code]

What version of macOS do you use?

[2020-02-05 06:40] d12frosted commented on #151
Closing this issue because it's a) an upstream issue that is not related to this repository and b) lack of activity. Let me know if you still want to leave it open.

P. S. I really hope that you've figured this out. If this is the case, I think it worth sharing solution.

[2020-02-05 06:40] #151 closed

[2020-02-05 13:42] Majenful commented on #147
Here is my config

**brew info**
[code]

[2020-02-07 14:00] d12frosted commented on #147
Honestly, I have no clue. I will check if I can reproduce it on CI with older version of macOS.

Did you try to use `--without-imagemagick@7`?

[2020-02-10 08:20] Majenful commented on #147
yup, same result.

I might have something wrong with my setup because I am the only one with this error, and I don't find any clue about this error `gzip: can't stat: ../etc/publicsuffix.txt (../etc/publicsuffix.txt): No such file or directory`.

I close the issue and I'll try `emacs-plus` when 27 comes out.

Thanks for your help :)

[2020-02-10 08:20] #147 closed

[2020-02-11 07:49] d12frosted commented on #147
@Majenful shame to hear 😿

Did you try the emacs-27 branch? You need to build with the following options:

[code]

[2020-02-14 07:50] Majenful commented on #147
@d12frosted
I tried it this morning and same result, sorry :(
[code]

I don't understand why it searchs for  "publicsuffix.txt" in /etc, and google this file doesn't help :/

[2020-02-22 23:58] Majenful commented on #147
@d12frosted excellent news! I was able to install it with
`brew install emacs-plus --HEAD --with-emacs-27-branch --without-imagemagick@7 --with-jansson --without-spacemacs-icon --with-modern-icon`
So I needed `--without-imagemagick@7` AND `--with-emacs-27-branch`

Thanks again :)

[2020-02-23 15:13] d12frosted commented on #147
@Majenful I am happy to hear that you found a way to install on your setup. Hopefully in the future releases you won't need to use all these options.

[2020-02-23 17:01] seagle0128 opened #187 "native-comp branch option"
The native compiling is a amazing feature to improve the Emacs performance. I'd like get an option to build this branch. Thanks!

https://github.com/emacs-mirror/emacs/tree/feature/native-comp

[2020-02-23 17:37] d12frosted commented on #187
@seagle0128 hey, do you use any other options? I just need to check if other patches work well together with `native-comp` branch.

[2020-02-23 17:49] seagle0128 commented on #187
@d12frosted I am using `--with-cocoa`, `--with-jansson` and `--with-xwidgets`. For example,

[code]

[2020-02-23 17:51] d12frosted commented on #187
@seagle0128 thanks. I will check if it builds with these options. I can't test it locally, so has to run on CI.

[2020-02-23 17:54] seagle0128 commented on #187
Thanks  a lot, @d12frosted .

[2020-02-23 18:41] d12frosted commented on #187
Don't really understand the error:

[code]

Apparently, this branch requires something special to build. I will take a look once I have more time and ability to build locally.

[2020-02-23 18:42] d12frosted commented on #187
Quick duckduckgoing leads me to https://akrl.sdf.org/gccemacs.html

Apparently, `libgccjit` must be installed (bundled with `gcc`?).

[2020-02-23 20:25] seagle0128 commented on #187
Bad news. I found this thread: https://lists.gnu.org/archive/html/emacs-devel/2019-08/msg00039.html.

[2020-02-24 07:27] d12frosted commented on #187
@seagle0128 oh well.

[2020-02-26 21:44] atanasj commented on #187
Is this feature likely to be introduced?

[2020-02-27 08:28] AndreaCorallo commented on #187
Hi, I know zero about Mac and related but maybe this can help?

https://gist.github.com/mikroskeem/0a5c909c1880408adf732ceba6d3f9ab

[2020-02-27 10:50] seagle0128 commented on #187
Wow, it seems a good news. Thanks, @AndreaCorallo.

[2020-02-28 09:45] d12frosted commented on #187
@AndreaCorallo nice find! It will help.

---

I'd like to do it sooner, but starting today I will have pretty limited availability till April. If someone wants to get it ASAP, the best way to do it is to create a PR.

[2020-02-28 09:46] d12frosted commented on #187
@AndreaCorallo nice find! It will help.

---

I'd like to do it sooner, but starting today I will have pretty limited availability till April. If someone wants to get it ASAP, the best way to do it is to create a PR.

[2020-03-07 21:47] Blaisorblade commented on #112
This is still an issue *and* it's an Emacs bug. Any chance to get a backport of the fix? See in particular

https://debbugs.gnu.org/cgi/bugreport.cgi?bug=38564#14

And apparently the fix is in:
https://git.savannah.gnu.org/cgit/emacs.git/commit/?id=ea84a95bd8d43612b4a424fb93de25a68ac31d05
https://git.savannah.gnu.org/cgit/emacs.git/commit/?id=81b697d106

[2020-03-12 14:24] berquist opened #189 "Could not install with `--HEAD --with-emacs-27-branch --with-jansson`: `AppKit/AppKit.h: present but cannot be compiled`"
**Describe the bug**

The problem is right in the title. The issue happens with both the regular CL tools and full Xcode installed, after `sudo xcode-select --install` has been run.

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

[2020-03-13 17:58] nessus42 opened #190 "Is --with-x11 broken for Catalina?"
It doesn't seem to be working for me. All I get is the app version of Emacs, not the X11 version.

Thanks.

[2020-03-21 07:44] taigacute opened #191 "Can add this icon ?"
Is it possible to add this [icon](https://www.gnu.org/graphics/heckert_gnu.html)?

[2020-03-25 10:47] d12frosted commented on #112
@Blaisorblade the last commit is in master already, right? Does it still happen for you?

[2020-03-25 11:05] Blaisorblade commented on #112
It still happened when I wrote that comment. IIRC, that commit is in a much later master, and would need to be backported.

[2020-03-25 14:08] d12frosted commented on #112
Why backported? Where? If we are talking about HEAD, then you will get it once you reinstall.

[2020-03-25 14:18] Blaisorblade commented on #112
Uh; I was talking about emacs-plus 26.3; but apparently this issue is specific to Emacs 27. Should I find enough info on what I experience (sounds unlikely), I'll file a new issue; sorry for the noise.

[2020-03-25 15:14] d12frosted commented on #112
Ok, I've double checked, on the latest master this issue is not reproducible :)

Sure, please do report. Regarding the 'noise' - don't worry. It's better to talk through (even potential) issues 😸

[2020-03-26 11:08] vv111y commented on #189
It worked for me last nigh with adding `--fetch-HEAD`

[2020-03-26 11:09] d12frosted commented on #189
I rebuilt yesterday and could not reproduce. So apparently it was fixed already. Thanks for the report though.

[2020-03-26 11:10] d12frosted commented on #190
Can you please share the exact installation options?

[2020-03-26 11:15] d12frosted commented on #190
Ok, it seems that it doesn't work even in 26.3. So to reproduce:

[code]

[2020-03-26 11:34] d12frosted commented on #190
Ok, solution is to install like this:

[code]

I will fix this later 😸

[2020-03-27 07:40] glepnir opened #192 "[yabai] Post frames are treated as regular windows when built `with-no-titlebar`"
**Describe the bug**

check this https://github.com/koekeishiya/yabai/issues/460

[2020-03-27 10:01] #190 closed

[2020-03-27 10:01] d12frosted commented on #190
So now it's enough to use `--with-x11` option.

[2020-03-27 10:02] d12frosted commented on #191
Sure. I will add it shortly.

[2020-03-27 10:06] taigacute commented on #191
@d12frosted  thanks for your great work.

[2020-03-27 11:19] #191 closed

[2020-03-27 11:20] d12frosted commented on #191
Added. You can install it using the following command.

[code]

Some happy screenshots.

<img width="771" alt="Screenshot 2020-03-27 at 12 57 30" src="https://user-images.githubusercontent.com/6507913/77749792-4ca4e100-702b-11ea-9bbf-72371e578ef6.png">

I love it. Thank you for the idea! ❤️

[2020-03-27 11:22] #189 closed

[2020-03-27 11:31] taigacute commented on #191
thanks for your love .

[2020-03-28 06:12] albertparedandan opened #195 "Broken installation of Emacs 26.3 when build from sources"
**Describe the bug**

See [d12frosted's comment](https://github.com/d12frosted/homebrew-emacs-plus/issues/195#issuecomment-609978037) for more information.

When i install emacs using the without spacemacs icon argument the resulting emacs is not executable both from Applications folder and terminal. I get a zsh: killed emacs

I can't even run emacs--version or emacs doctor

**Command used to inst

[2020-03-28 07:44] d12frosted commented on #195
Hello,

I can't reproduce your issue.

I have 2 questions:

1. How did you get `emacs-plus` to Applications folder? By default it's not installed there. So you either need to use `ln` (from the caveats section) or copy it.
2. What is `emacs doctor`?

[2020-03-29 10:02] albertparedandan commented on #195
sorry, emacs doctor indeed is not a proper command. but to answer ur 1. i followed the instruction given:
`ln -s /usr/local/opt/emacs-plus/Emacs.app /Applications/Emacs.app`

[2020-03-30 09:12] d12frosted commented on #195
Can you please share output of the following commands?

- `brew doctor`
- `command -v emacs`

[2020-03-31 05:21] albertparedandan commented on #195
brew doctor
`Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry or file an issue; just ignore this. Thanks!

Warning: A newer Command Line Tools release is available.
Update them from Software Update in System Preferences or
https://developer.apple.com/download/mo

[2020-03-31 05:33] d12frosted commented on #195
I see you have modifications for `emacs` formula, but it's safe.

Oh, and could you please check where does that link?

[code]

[2020-03-31 05:42] albertparedandan commented on #195
../Cellar/emacs-plus/26.3/bin/emacs

[2020-03-31 05:44] d12frosted commented on #195
Does it start if you run with `-nw` option? E.g.

[code]

[2020-03-31 15:52] MuhmdRaouf opened #196 "Could not install with --with-xwidgets with version 27, and without it Emacs.app disappear"
**Describe the bug**
Trying to install emacs ver 27 with the following options, but it always gave me this error and I don't know what to do, also Cocoa should be enabled by default.

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

Also when I installed it using the following but Emacs.app didn't exist and i have to use emacs from terminal now with the following com

[2020-03-31 17:25] d12frosted commented on #196
Hi @MuhmdRaouf

Well, the error says it all.

[code]

Which means that you need to install with cocoa (e.g. don't use `--with-x11`). Maybe it's not that clear after all 🤔

Not sure which command exactly you use. But as caveats sections says, if you want to install `Emacs.app` to `/Applications` folder, you need to link it using `ln -s`. Cask builds are not supported (see #41).

[2020-03-31 17:32] MuhmdRaouf commented on #196
@d12frosted Ouch the message tells me what I need but I didn't realize it, sorry but I think it's not really clear, at least for me, But Thanks so much for your replay mate.

secondly the command I used
`brew install emacs-plus --with-emacs-27-branch --with-jansson --with-modern-icon --with-x11 --without-spacemacs-icon --HEAD`

and I did link it as the logs told me like the following
`ln -s /usr/l

[2020-03-31 17:37] d12frosted commented on #196
Yeah... Thanks to you I also realized how unclear it might be.

Yeah, x11 means that you don't want cocoa application, which means, that you won't get `Emacs.app`. Maybe it also needs to be documented.

[2020-03-31 17:39] MuhmdRaouf commented on #196
I can confirm that removing `--with-x11` solves both issues for me, Thanks a lot @d12frosted 😄

[2020-03-31 17:39] #196 closed

[2020-03-31 17:40] d12frosted commented on #196
No problem! Let me know if you have any other issues!

[2020-04-02 04:04] albertparedandan commented on #195
unfortunately i am not running the emacs-plus --without-spacemacs-icon anymore. I went ahead with just a normal emacs-plus so i can't really try it. at least now all of those things works

[2020-04-02 11:58] d12frosted commented on #195
Oh, alright. I will try to reproduce it in CI. If someone else runs into this issue, please let me know.

[2020-04-05 18:14] gnzlbg commented on #9
I'm wasting a lot of time trying to get this to work.

When installing `emacs-plus` via homebrew, one can just write `brew service start emacs` to start an "emacs service" on startup - I haven't find any documentation about what this means, but I suspect this starts an `emacs --daemon` on startup even though I don't see it with `ps`.

Ideally, `emacs-plus` would provide an App that would just run

[2020-04-05 18:44] gnzlbg commented on #72
@antonalekseev do you have a dock app that's able to connect to this daemon ? If so, could you share how you are achieving that ?

Right now, I am creating a bash script that calls emacsclient, and have bundled that into an App. However, when I call the App it starts another `Emacs.App` that connects to the daemon, and when I fully close this app, the daemon is closed as well, which kind of defeat

[2020-04-06 15:03] d12frosted commented on #158
Apparently, this is requested feature.

See #9.

[2020-04-06 15:10] d12frosted commented on #9
@gnzlbg wow, it's a pity that you have to waste so much time.

Ah, I actually though that the request was to put `emacsclient` under `Emacs.app` alongside with `emacs` executable. That's why I asked what benefit it brings :) I understand how `emacsclient` can be useful in general.

But let me understand your use-case better. Because right now I don't see how `EmacsClient.app` would help you. If yo

[2020-04-06 19:00] d12frosted commented on #195
Ok, so I've managed to reproduce.

1. Make sure that you are on 10.15.4 (19E266) - on previous version everything worked.
2. `brew install emacs-plus --build-from-source`
3. `/usr/local/opt/emacs-plus/bin/emacs`

And you will see that it's terminated by SIGKILL.

Reproducible with stock `emacs` formula, e.g. `brew install emacs --build-from-source`.

It seems that there is an upstream issue with E

[2020-04-06 19:02] d12frosted commented on #195
Also, recently GitHub updated software on their CI, so it breaks there as well now: https://github.com/d12frosted/homebrew-emacs-plus/runs/563887711?check_suite_focus=true#step:4:10

[2020-04-07 07:32] d12frosted opened #199 "Could not install with --HEAD --with-xwidgets"
**Describe the bug**
`emacs-plus` fails to install

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

Full log can be found in the [CI][1].

  [1]: https://github.com/d12frosted/homebrew-emacs-plus/runs/566771546#step:3:245

[2020-04-07 11:52] oguzserbetci commented on #158
Sorry for not responding. My setup is different now and thus I solved it differently. I will try to explain how my setup is and what I needed to do for it :)

[2020-04-07 11:54] d12frosted commented on #158
@oguzserbetci no problems :) would appreciate if you share your workflow :)

[2020-04-09 18:26] jahedstrom commented on #195
I had this exact same issue.  Had a working version of emacs-plus installed.  Ran `brew uninstall emacs-plus` and then `brew install --without-spacemacs-icon emacs-plus` .  Unable to launch from command line or linked Application.  Uninstalled and reinstalled without the `--without-spacemacs-icon` option and everthing works fine.  MacOS Catalina 10.15.4.

[2020-04-10 15:21] dubnev commented on #195
Confirming I also experienced this issue.

Installed via `brew install emacs-plus --without-spacemacs-icon`, and zsh immediately terminates with SIGKILL.

Interestingly, uninstalling and then re-installing omitting the `--without-spacemacs-icon` resolved the issue for me - it now launches as expected.

 - Catalina 10.15.4
- Reproduced ~10:45AM EST April 10th

Happy to provide any information that

[2020-04-10 18:27] d12frosted commented on #195
Building without spacemacs icon means that you can't reuse bottle, hence it builds from sources. This is what I meant by 'installing from HEAD or using bottle is a workaround'.

I still don't know how to fix this issue 😞

[2020-04-11 20:43] mdoza commented on #199
@d12frosted `brew install emacs-plus --HEAD --with-xwidgets --with-emacs-27-branch`

[2020-04-12 10:09] d12frosted commented on #199
@mdoza can you please elaborate a little bit more? What do you mean by your comment?

[2020-04-12 19:56] mdoza commented on #199
Of course. Presumably you would like to get xwidgets working; install with `—with-emacs-27-branch` along with `—HEAD` and you should be in business.

[2020-04-13 05:10] d12frosted commented on #199
Oh cool. Good to know. Thank you!

[2020-04-15 18:55] jmromer commented on #195
If it helps for debugging, here's what I'm seeing when attempting to open the GUI from the command line (note `error -10810`):

<details>
<summary>Installation info</summary>

[code]

</details>

[code]

[2020-04-16 10:42] d12frosted commented on #195
That's interesting.

Didn't try to launch Emacs like this. The error might be helpful.

As far as I understand, this is needed if the application is in quarantine for some reason. But when I do

[code]

I don't get quarantine attribute. So removing application from quarantine doesn't help.

[2020-04-18 16:49] jmromer commented on #195
fwiw, I worked around this by installing Emacs 28 and hooooooly cow does it zoom 😄
highly recommended: https://github.com/daviderestivo/homebrew-emacs-head

[2020-04-18 16:58] d12frosted commented on #195
@jmromer yes, as I said,

so go ahead and

[code]

[2020-04-18 17:36] jmromer commented on #195
No luck with the `emacs-plus` formula, I'm afraid — possibly something awry with my environment, I'm not sure:

<details>
<summary><code>brew install emacs-plus --HEAD</code></summary>

[code]
</details>

[2020-04-18 17:37] d12frosted commented on #199
Fixed via #201

[2020-04-18 17:38] d12frosted commented on #195
Oh sorry, that might be because I've updated the patches.

Please do as brew is saying and remove the archived patch:

[code]

[2020-04-18 17:39] #199 closed

[2020-04-19 10:58] shuxiao9058 opened #202 "Could not install with xwidget"
**Describe the bug**
A clear and concise description of what the bug is.

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

[2020-04-19 12:56] d12frosted commented on #202
@shuxiao9058 can you please run `brew update` and try again?

Or even `rm /Users/jiya/Library/Caches/Homebrew/downloads/484ffebec4e8247ed92e93e1e7ae0956dc3ae2ae4425ca71a41a0af877c35b56--xwidgets_webkit_in_cocoa.patch`?

[2020-04-19 13:19] shuxiao9058 commented on #202
off course, but failed.

[2020-04-19 13:29] d12frosted commented on #202
I will double check on my computer. Though it [builds on CI][1].

Meanwhile, what version of macOS and Xcode are you using? Did you install command line tools from Xcode? And are there any warnings/errors when running `brew doctor`?

  [1]: https://github.com/d12frosted/homebrew-emacs-plus/runs/599231301?check_suite_focus=true

[2020-04-19 14:06] d12frosted commented on #202
BTW, you can also try `--fetch-HEAD` option to ensure that you are using the latest HEAD.

[2020-04-19 16:54] shuxiao9058 commented on #202
Hi, @d12frosted, it seems that you have forgotten  add `bignum.c` and other extra files, please check again.

[2020-04-20 03:14] shuxiao9058 commented on #202
now another error occured

[code]

[2020-04-20 04:39] shuxiao9058 commented on #202
it seems that the brew’s bug.

[2020-04-20 04:40] d12frosted commented on #202
Couldn't test because of the latest error. Getting it since yesterday. I thought it's something on my local env. Tried to go back few commits before with no luck. I know that `brew` are not favoring options, maybe they changed something?

Now I see that I am not the only one :(

[2020-04-20 04:50] d12frosted commented on #202
Ok, so indeed, reverting one of the latest commits in brew itself helps.

1. Make sure to disable [automatic updates][1] of `brew`

[code]

2. Reset https://github.com/Homebrew/brew/commit/2bbcab56152d1ff19bbe20a7d310619f167e1f03

Will report.

  [1]: https://github.com/Homebrew/brew/blob/master/Library/Homebrew/env_config.rb#L172

[2020-04-20 05:13] d12frosted commented on #202
@shuxiao9058 ah, I think I understand, what's wrong. `HEAD` diverged with `emacs-27` branch, so `xwidgets` don't work anymore there. Can you please install without emacs27 branch?

Since the fix is trivial, I will probably fix it, but in general I want to support patches only on stable and HEAD versions. `emacs-27` branch is provided just to give people ability to test it :)

[2020-04-20 06:13] shuxiao9058 commented on #202
@d12frosted much thanks for your patience and reply, it works fine with emacs `master` branch(not `emacs-27`) now.

[2020-04-20 06:17] d12frosted commented on #202
Well, it's my fault I didn't notice emacs-27 in your options 🤔

But glad that you found a way to install it :)

Hopefully today I will do something about emacs-27 + xwidgets

[2020-04-20 08:31] d12frosted commented on #202
Ok, emacs-27 + xwidgets should be friends now thanks to #203.

Let me know if it doesn't work for you.

[2020-04-20 08:31] #202 closed

[2020-04-20 09:30] shuxiao9058 commented on #202
thanks, it works fine with `emacs-27` branch now.

[2020-04-20 14:27] mvgijssel commented on #195
Experienced the same problem with macos 10.15.4 and can verify that installing from head works:

[code]

[2020-04-27 08:17] hh commented on #195
Would it be useful to add the ability to specify a tag like 26.3 27.1 or HEAD?

[2020-04-27 08:51] d12frosted commented on #195
@hh sorry, I didn't get your question.

If you want to install `HEAD` you need to pass `--HEAD` option. If you want to install Emacs 27 you need to pass two options: `--HEAD --with-emacs-27-branch`. Otherwise Emacs 26.3 is installed.

[2020-05-02 18:43] akermu commented on #187
The `--native-comp` branch option doesn't add the `--with-nativecomp` option to `./configure`. Otherwise I got it to compile (did not try with the formula yet), see the thread from the gist above.

[2020-05-03 14:55] wakatara opened #209 "Could not install with --HEAD due to multifont patch application"
**Describe the bug**

The build on HEAD appears to fail on the multicolor font patch (sad, cause was installing to get emoji support sorted.  =p ).

**Command used to install `emacs-plus`**

[code]

**Installation log**

[code]

[2020-05-03 15:39] parhamdoustdar commented on #209
Strangely enough, even adding `--without-multicolor-fonts` doesn't fix this for me?

[2020-05-03 15:58] wakatara commented on #209
(embarassingly, I did not check trying not to install with that... ahem... )

[2020-05-04 05:33] d12frosted commented on #209
Hey, thank you very much for the report.

I don't quite understand why you are still on master even though you used `--with-emacs-27-branch` option.

[code]

This how it looks for me (I copied your options):

[code]

But then, I don't get `multicolor-fonts` patch applied to me 🤔 On CI it is also not applied in [HEAD][1] and on [Emacs27][2]. Even though by default this patch is enabled on all `HEAD

[2020-05-04 05:46] d12frosted commented on #209
I actually didn't read code carefully, so I made a mistake in my judgement.

[code]

This patch is applied ONLY on Emacs 26.3 (e.g. when built without `--HEAD`). So it should not be applied on Emacs 27 as well. This is what I see locally and what I see on CI.

I am not sure why you get this patch. I wild guess would be that you are using `reinstall` instead of `uninstall` + `install`, but in the s